{header}
<body class="manageBill">
<header>
    {navbar}
    </header>

    <section class="hero">
        <h1 style="margin-bottom: 2rem;">We Provide well suited pharmacy system</h1>
        <a style="background-color: var(--color-yellow-01) ; padding: 2rem 4rem; color : #fff; font-size: 1.8rem ; border-radius: 1rem; margin-top: 2rem;" href="{checkout}">Register - Free</a>
    </section>

    <section class="main-content">
        <div class="side-box">
        <h3>Join with our system</h3>
        <p style="color: #fff;">Connect with our powerful pharmacy system easily for your management works.</p>
        <a href="{checkout}" class="start-btn">Start Now - Free</a>
        <ul>
        <li>No hidden fees</li>
        <li>Affordable monthly plans</li>
        <li>Mobile app handling</li>
        <li>Auto billing & invoicing</li>
        </ul>
    </div>


<div class="billing-card">
    <img src="/images/billings.jpg">

</div>
</section>


    {footer}
</body>
</html>