<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cashier </title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="cashier-customer">
  <!-- ---------------- Header ---------------- -->
  <header>
    <nav>
      <div class="logo">
        <img class="logopic" src="/public/logo/logo.svg" alt="Pharmacy Logo" />
      </div>

      <div id="toggle-placeholder"></div>

      <nav class="nav-links">
        <button class="tab">Store</button>
        <button class="tab">Dashboard</button>
        <button class="tab active">Cashier</button>
      </nav>

      <div class="profile">
        <div class="profileName">
          <a href="#">Chamani Niroshani</a>
          <div class="welcome">Welcome</div>
        </div>
        <div class="profilePic">
          <a href="/signup.html">
            <img src="/public/logo/profile_pic.jpg" alt="Profile Picture" />
          </a>
        </div>
      </div>
    </nav>
  </header>

  <!-- ---------------- Dashboard Layout ---------------- -->
  <div class="dashboard">

    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="menu-section">
        <h4 class="section-title">MAIN MENU</h4>
        <ul>
          <li onclick="window.location.href='cashier-dashboard'"><i class="icon"></i><span>Dashboard</span></li>
          <li onclick="window.location.href='cashier-product'"><i class="icon"></i><span>Products</span></li>
        </ul>
      </div>

      <div class="menu-section">
        <h4 class="section-title">LEADS</h4>
        <ul>
          <li onclick="window.location.href='cashier-order'"><i class="icon"></i><span>Orders</span></li>
          <li onclick="window.location.href='cashier-sales'"><i class="icon"></i><span>Sales</span></li>
          <li onclick="window.location.href='cashier-customer'" class="active"><i class="icon"></i><span>Customers</span></li>
        </ul>
      </div>

      <div class="menu-section">
        <h4 class="section-title">COMMS</h4>
        <ul>
          <li><i class="icon"></i><span>Reports</span></li>
          <li><i class="icon"></i><span>Settings</span></li>
        </ul>
      </div>
    </aside>

    <!-- Right Side Content -->
    <div class="right-side">
      <main class="content">
        
        <!-- Top Bar -->
        <header class="top-bar">
          <div class="search-bar">
            <form action="" method="post">
              
              <label for="Search">
                <input type="search" class="searchmedi" id="Search" placeholder="Search by customer name, Id, email or phone number" />
              </label>

              <label for="filter">
                <button type="submit" class="searchButton" name="filter">Filter</button>
              </label>

              <label for="createBill">
                <button type="button" class="createBill" onclick="window.location.href='cashier-createBill'">Create Bill</button>
              </label>
            </form>
          </div>
        </header>

      </main>

      <!-- All Customer Table -->
        <div class="customer-list">
         <div class="customer-result">
            <table class="customer-result-table">
            <thead>
              <tr>
                <th>Customer Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone No</th>
                <th>Total Order</th>
                <th>Total Spent</th>
                <th>Last Purchese</th>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>00034</td>
                <td>Chamani</td>
                <td>mpcniroshani@gmail.com</td>
                <td>075-8781605</td>
                <td>14</td>
                <td>Rs 20 500.00</td>
                <td>2025-09-24</td>
                <td>
                    <button class="openProfile">View</button>
                    <button class="Edit-btn">Edit</button>
                </td>
              </tr>

              <tr>
                <td>00126</td>
                <td>Chathura</td>
                <td>chathura@gmail.com</td>
                <td>076-1885346</td>
                <td>23</td>
                <td>Rs 52 000.00</td>
                <td>2025-10-20</td>
                <td>
                    <button class="openProfile" id="openProfile">View</button>
                    <button class="Edit-btn">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- Pagination -->
          <div class="pagination">
            <button class="page-btn">Prev</button>
            <button class="page-btn">1</button>
            <button class="page-btn active">2</button>
            <button class="page-btn">...</button>
            <button class="page-btn">9</button>
            <button class="page-btn">Next</button>

            <div class="entries">Showing of 20 Entries</div>
            <select class="show-count">
              <option>Show 3</option>
              <option>Show 5</option>
              <option>Show 10</option>
            </select>
          </div>
          </div>
        </div>

        <!----------------customer view------------------>
        
  <!-- Trigger button -->
    <div class="popup-section">

    <!-- Popup container -->
    <div class="profile-popup" id="profilePopup">

      <div class="profile-header">
        <div>
          <div class="profilePic">
          <a href="/signup.html">
            <img src="/public/logo/profile_pic.jpg" alt="Profile Picture" />
          </a>
          <a href="#">ID00034	</a>
        </div>
        <div class="profileName">
          <a href="#">Chamani Niroshani</a><br>
          <a href="#">mpcniroshani@gmail.com </a>
        </div>
        </div>

        
      </div>

      <div class="profile-items">

        <div class="profile-item">
          <div class="item-info">
            <h4>Order ID : <span>68e251016c109</span></h4>
            <p>2 × Amoxicillin 500mg (pack) 2×1200=2400</p>
            <p>Paracetamol 500mg (strip) 5×150=750</p>
          </div>
          <div class="item-info">
            <p class="data">Total: <span>Rs 3050</span></p>
            <p class="data">Discout: <span>Rs 100</span> </p>
          </div>
          <div class="item-info">
            <p class="data">10:36 PM</p>
            <p class="data">15/10/2025 </p>
          </div>
          <div class="item-info">
            <p class="data">Cash</p>
            <p class="data">Completed</p>
          </div>
          
        </div>

        <div class="profile-item">
          <div class="item-info">
            <h4>Order ID : <span>68e251016c109</span></h4>
            <p>2 × Amoxicillin 500mg (pack) 2×1200=2400</p>
            <p>Paracetamol 500mg (strip) 5×150=750</p>
          </div>
          <div class="item-info">
            <p class="data">Total: <span>Rs 3050</span></p>
            <p class="data">Discout: <span>Rs 100</span> </p>
          </div>
          <div class="item-info">
            <p class="data">10:36 PM</p>
            <p class="data">15/10/2025 </p>
          </div>
          <div class="item-info">
            <p class="data">Cash</p>
            <p class="data">Completed</p>
          </div>
          
        </div>

        <div class="profile-item">
          <div class="item-info">
            <h4>Order ID : <span>68e251016c109</span></h4>
            <p>2 × Amoxicillin 500mg (pack) 2×1200=2400</p>
            <p>Paracetamol 500mg (strip) 5×150=750</p>
          </div>
          <div class="item-info">
            <p class="data">Total: <span>Rs 3050</span></p>
            <p class="data">Discout: <span>Rs 100</span> </p>
          </div>
          <div class="item-info">
            <p class="data">10:36 PM</p>
            <p class="data">15/10/2025 </p>
          </div>
          <div class="item-info">
            <p class="data">Cash</p>
            <p class="data">Completed</p>
          </div>
          
        </div>
        
      </div>


      <div class="profile-footer">
        <div class="total">
          <span>Total</span>
          <strong>Rs 9,150</strong>
        </div>
       <div class="profile-icons">
          <button class="icon-btn green">Edit</button>
          <button class="icon-btn red" id="closeProfile">Close</button>
        </div>
      </div>
    </div>

    <script>
        const openProfileButtons = document.querySelectorAll('.openProfile');
        const closeProfileButtons = document.querySelectorAll('.closeProfile');
        const profilePopup = document.getElementById('profilePopup');

        
        openProfileButtons.forEach(button => {
          button.addEventListener('click', () => {
            profilePopup.classList.add('show');
          });
        });
    
        closeProfileButtons.forEach(button => {
          button.addEventListener('click', () => {
            profilePopup.classList.remove('show');
          });
        });

        // Optional: Close when clicking outside popup
        window.addEventListener("click", (e) => {
          if (e.target === profilePopup) {
            profilePopup.classList.remove('show');
          }
        });
      </script>

    </div>

        
      
</div>
  </div>
</body>
</html>