:root {
  --primary-color:#083851;
  --secondary-color:#f9a550;
  --tertiary-color: #006395;
  --white:#ffffff;
  --color-scheme: light ;
  --primary-font:"red hat display", sans-serif;
  --secondary-font:"Poppins" , sans-serif;
  --color-scheme: light;
  color-scheme: light;
  --bg-color: white;
  --text-color: black;
  --toggle-bg: lightgray;
  --slider-color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--primary-font);
  padding: 2rem;
  transition: background-color 0.3s, color 0.3s;
}

header {
  margin: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-family: var(--secondary-font);
  display: flex;
  align-items: center;
}
.logo .logopic {
  height: 4.6rem;
  margin-right: 1rem;
}
.logo .logoname {
  font-weight: bold;
  color: var(--primary-color);
  font-size: 1.6rem;
}

.search form {
  display: flex;
  font-family: var(--secondory-font);
  align-items: center;
}
.search form input[type=search] {
  padding: 1rem 1rem;
  border: 0.2rem solid var(--primary-color);
  border-radius: 1rem 0 0 1rem;
  font-size: 2rem;
  width: 100%;
  height: 5rem;
}
.search form input[type=submit] {
  padding: 1rem 2rem;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  border: 0.2rem solid var(--primary-color);
  font-size: 2rem;
  width: 11.6rem;
  height: 5rem;
}
.search form input[type=submit]:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 0.3rem solid var(--secondary-color);
  transition: all 0.2s ease-out;
}

.dropdown {
  font-family: var(--primary-font);
  position: relative;
  display: inline-block;
  font-weight: bold;
  width: 7.4rem;
  height: 2.4rem;
}
.dropdown > a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.8rem;
  padding: 1rem;
  display: inline-block;
  transition: all 0.2s ease-out;
}
.dropdown > a:hover {
  color: var(--secondary-color);
}
.dropdown .navbar {
  display: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: var(--primary-color);
  padding: 1rem 0;
  min-width: 150px;
  list-style: none;
  border-radius: 0.5rem;
  z-index: 10;
}
.dropdown .navbar li {
  padding: 0.5rem 2rem;
}
.dropdown .navbar li a {
  text-decoration: none;
  color: var(--white);
  display: block;
  transition: all 0.2s ease-out;
}
.dropdown .navbar li a:hover {
  color: var(--secondary-color);
}
.dropdown:hover .navbar {
  display: block;
}

.profile {
  font-family: var(--primary-font);
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile .profileName {
  text-align: left;
  font-size: 1.6rem;
}
.profile .profileName .welcome {
  font-size: 1.4rem;
  color: #707070;
}
.profile .profilePic img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
.profile a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-out;
}
.profile a:hover {
  color: var(--secondary-color);
}

.toggle-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.toggle-switch {
  width: 6rem;
  height: 3rem;
  background-color: white;
  border-radius: 3rem;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.6rem;
  box-sizing: border-box;
  border: 1px solid black;
}

.toggle-switch .icon {
  pointer-events: none;
  z-index: 3;
  position: absolute;
  color: black;
}

.toggle-switch .slider {
  position: absolute;
  top: 0.2rem;
  left: 0.3rem;
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--slider-color);
  border-radius: 50%;
  transition: transform 0.3s ease;
  z-index: 1;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + .toggle-switch .slider {
  transform: translateX(3rem);
}

body.dark {
  --color-scheme: dark;
  color-scheme: dark;
  --bg-color: black;
  --text-color: white;
  --toggle-bg: darkgray;
  --slider-color: white;
}

@font-face {
  font-family: "red hat display";
  font-weight: 100;
  font-style: normal;
  src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-Light.ttf) format("TrueType");
}
@font-face {
  font-family: "red hat display";
  font-weight: 100;
  font-style: italic;
  src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-LightItalic.ttf) format("TrueType");
}
@font-face {
  font-family: "red hat display";
  font-weight: 200;
  font-style: normal;
  src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-Light.ttf) format("TrueType");
}
@font-face {
  font-family: "red hat display";
  font-weight: 200;
  font-style: italic;
  src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-LightItalic.ttf) format("TrueType");
}
@font-face {
  font-family: "red hat display";
  font-weight: 300;
  font-style: normal;
  src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-Medium.ttf) format("TrueType");
}
@font-face {
  font-family: "red hat display";
  font-weight: 300;
  font-style: italic;
  src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-MediumItalic.ttf) format("TrueType");
}
@font-face {
  font-family: "red hat display";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-Regular.ttf) format("TrueType");
}
@font-face {
  font-family: "red hat display";
  font-weight: 500;
  font-style: normal;
  src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-SemiBold.ttf) format("TrueType");
}
@font-face {
  font-family: "red hat display";
  font-weight: 500;
  font-style: italic;
  src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-SemiBoldItalic.ttf) format("TrueType");
}
@font-face {
  font-family: "red hat display";
  font-weight: 600;
  font-style: normal;
  src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-Bold.ttf) format("TrueType");
}
@font-face {
  font-family: "red hat display";
  font-weight: 600;
  font-style: normal;
  src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-Bold.ttf) format("TrueType");
}
@font-face {
  font-family: "red hat display";
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-ExtraBold.ttf) format("TrueType");
}
@font-face {
  font-family: "red hat display";
  font-weight: 700;
  font-style: italic;
  src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-ExtraBoldItalic.ttf) format("TrueType");
}
@font-face {
  font-family: "red hat display";
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-ExtraBold.ttf) format("TrueType");
}
@font-face {
  font-family: "red hat display";
  font-weight: 700;
  font-style: italic;
  src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-ExtraBoldItalic.ttf) format("TrueType");
}
@font-face {
  font-family: "Poppins";
  font-weight: 100;
  font-style: normal;
  src: url(/fonts/Poppins//Poppins-ExtraLight.ttf) format("TrueType");
}
@font-face {
  font-family: "Poppins";
  font-weight: 100;
  font-style: italic;
  src: url(/fonts/Poppins/Poppins-ExtraLightItalic.ttf) format("TrueType");
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style: normal;
  src: url(/fonts/Poppins/Poppins-Light.ttf) format("TrueType");
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style: italic;
  src: url(/fonts/Poppins/Poppins-LightItalic.ttf) format("TrueType");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  src: url(/fonts/Poppins/Poppins-Medium.ttf) format("TrueType");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
  src: url(/fonts/Poppins/Poppins-MediumItalic.ttf) format("TrueType");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/Poppins/Poppins-Regular.ttf) format("TrueType");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: url(/fonts/Poppins/Poppins-SemiBold.ttf) format("TrueType");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
  src: url(/fonts/Poppins/Poppins-SemiBoldItalic.ttf) format("TrueType");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url(/fonts/Poppins/Poppins-Bold.ttf) format("TrueType");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url(/fonts/Poppins/Poppins-BoldItalic.ttf) format("TrueType");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/Poppins/Poppins-ExtraBold.ttf) format("TrueType");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
  src: url(/fonts/Poppins/Poppins-ExtraBoldItalic.ttf) format("TrueType");
}
@font-face {
  font-family: "Poppins";
  font-weight: 800;
  font-style: normal;
  src: url(/fonts/Poppins/Poppins-Black.ttf) format("TrueType");
}
@font-face {
  font-family: "Poppins";
  font-weight: 800;
  font-style: italic;
  src: url(/fonts/Poppins/Poppins-BlackItalic.ttf) format("TrueType");
}
.hedder-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-title {
  text-align: center;
  font-size: 6.4rem;
  color: var(--primary-color);
  line-height: 1.2;
}

.highlight {
  color: var(--secondary-color);
}

.header-discription {
  line-height: 3.5rem;
  text-align: center;
  font-size: 2.4rem;
  color: var(--primary-color);
  font-weight: 400;
  position: relative;
  top: 1rem;
}

.pill {
  position: relative;
}

.pills {
  position: relative;
  top: -2rem;
  left: 50%;
  margin-bottom: 30rem;
  align-items: center;
}

.pillBW {
  position: absolute;
  left: 34rem;
  bottom: -7rem;
}

.pillwhite {
  position: absolute;
  top: 13rem;
  left: 83rem;
}

.pillblue {
  position: absolute;
  left: 32rem;
  bottom: -18rem;
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.upload-container .upload-box {
  width: 33rem;
  height: 33rem;
  border-radius: 50%;
  background: #127eb5;
  color: white;
  font-family: var(--primary-font);
  text-align: center;
  cursor: pointer;
  border: 4px solid #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  border: 1.7rem solid var(--tertiary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upload-container .upload-box .icon {
  margin-bottom: 1.2rem;
}
.upload-container .upload-box p {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
}
.upload-container .upload-box:hover {
  transform: scale(1.05);
}

.section-title {
  margin: 4rem;
  text-align: center;
  color: var(--primary-color);
  text-transform: capitalize;
}
.section-title .section-first-title {
  font-size: 3.2rem;
  background: linear-gradient(to right, var(--primary-color), #127eb5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.section-title .section-second-title {
  font-size: 1.8rem;
  font-weight: 500;
  color: #127eb5;
}

.advantages-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
  color: var(--primary-color);
}

.advantage-card {
  padding: 0 3.2rem;
}

.advantage-title {
  color: var(--tertiary-color);
  font-size: 2rem;
  margin: 0 0 2rem 0;
}

.advantage-disc {
  font-size: 1.6rem;
  line-height: 150%;
}

.mid-title {
  font-size: 8.4rem;
  color: #e6e6e6;
  text-align: center;
  font-family: var(--primary-font);
  text-transform: capitalize;
}

.stat-container {
  margin: 2rem;
}
.stat-container .section-title {
  position: relative;
}
.stat-container .stat-orange {
  position: absolute;
}
.stat-container .stat-blue {
  position: absolute;
}

.top-pharmacies {
  padding: 8rem 0;
}

.pharmacies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0;
  justify-items: center;
}

.pharmacy-card {
  background-color: white;
  border-radius: 1.6rem;
  width: 100%;
  max-width: 24rem;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.pharmacy-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.pharmacy-card .pharmacy-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.pharmacy-card .pharmacy-info {
  padding: 1.2rem;
  text-align: left;
}
.pharmacy-card .pharmacy-name {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 2rem;
}
.pharmacy-card .pharmacy-rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.pharmacy-card .pharmacy-address {
  color: var(--primary-color);
  font-size: 1.4rem;
}

.joinus {
  margin: 8rem;
  padding: 2rem;
}
.joinus .header-title {
  color: var(--secondary-color);
}
.joinus .header-discription {
  color: var(--tertiary-color);
}
.joinus .button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 4rem;
}
.joinus .button-group .btn {
  font-weight: bold;
  font-size: 2.4rem;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--secondary-color);
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 40rem;
}
.joinus .button-group .btn.demo {
  background-color: transparent;
  color: var(--secondary-color);
}
.joinus .button-group .btn.reg {
  background-color: var(--secondary-color);
  color: var(--white);
}

.footer {
  background-color: var(--primary-color);
  color: var(--white);
  font-family: var(--primary-font);
  padding: 3rem;
  clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 100%);
}
.footer.main {
  padding: 2rem 3rem;
  flex-wrap: wrap;
  color: #cfd8dc;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0;
  justify-items: center;
}
.footer .bottum {
  flex-wrap: wrap;
  display: flex;
}

/*# sourceMappingURL=style.css.map */
