:root{
  --white:#ffffff;
  --color-green-01: #18978D;
  --color-green-02: #08374F;

  
  --color-blue-01: #083851;
  --color-blue-02: #006395;
  
  
  --color-yellow-01: #FB8F21;
  --color-yellow-02:#f9a550;

  --color-red-01 : #FB5821;

  --color-pink-01 : #DDA797;

  --color-border-gray-01 : #eeeeee;
  
  
  --font-linear-secondary-color:#127EB5;
  --font-linear-primary-color:#08374F;
    
    --color-scheme: light ;
    --primary-font:"red hat display", sans-serif;
    --secondary-font:"Poppins" , sans-serif;

     --color-scheme: light;
    color-scheme: light;

    ///////////
    /// hamdha variable space
  --bg-color: white;
  --text-color: black;
  --toggle-bg: lightgray;
  --slider-color: black;
}