{header}
<body class="landing">

    <!--nav bar for all page-->
    <header>
    {navbar}

    </header>

       
    <main class="main-container">
        <section class="container">
            <section class="medicine-section">
                <div class="container">
                    <div class="header-section">

                        <div class="active-page">
                            <div class="title">Looking for..</div>
                            <div class="buttons">
                                <div class="btn" >Medicines <span class="circle"></span></div>
                                <div class="active-btn">Pharmacies</div>
                            </div>
                        </div>

                        <div class="addToCart">
                            <span>Your Cart</span><br>
                            <img src="/images/add-to-cart.svg" alt="cart">

                        </div>

                    </div>
                </div>
            </section>

        <div class="map-container">
            <iframe style="margin: 2rem 8rem; border-radius: 2rem;"
            src="https://maps.google.com/maps?q=Colombo&z=13&output=embed"
            width="90%"
            height="300"
            frameborder="0"
            style="border:0;"
            allowfullscreen=""
            
            ></iframe>
            <div class="radius-btn">
                Search in 3Km Radius
            </div>
        </div>


        <div class="pharmacy-section">
        <div class="container">

            <div class="section-title">
                <h3 class="title-one">Nearby Pharmacies</h3>
            </div>

            <div class="pharmacy_grid">

                <div class="pharmacy-card" data-id="{id}">
                        <div class="pharmacy-img" >
                            <img    src="/pharmacy picture/lankapharmacy.jpg" alt=" p1" width="250rem" class="pharmacy-image">  
                        </div>


                        <div class="pharmacy_infomation">


                            <div class="pharmacy_name_info">
                                <div class="name">Name</div>
                                <div class="pharmacy_name">Amaya Pharmacy Consulations</div>
                            </div>

                           
                            <div class="pharmacy_address">
                               kandy roar, Kegalla
                            </div>

                           
                            <div class="results">
                                <div class="distance">
                                    <img src="/images/double-arrow.svg" class="distance_img" width="27px" >
                                    <span class="distance__value">2.4 km</span>
                                </div>
                                <div class="view-btn">
                                    <span class="view_pharmacy">
                                        View
                                    </span>
                                    <img src="/images/views-img.svg" class="view_img" width="27px">
                                </div>
                            </div>


                        </div>
                        

                </div>

                <div class="pharmacy-card" data-id="{id}">
                        <div class="pharmacy-img" >
                            <img    src="/pharmacy picture/lankapharmacy.jpg" alt=" p1" width="250rem">  
                        </div>


                        <div class="pharmacy_infomation">


                            <div class="pharmacy_name_info">
                                <div class="name">Name</div>
                                <div class="pharmacy_name">Amaya Pharmacy Consulations</div>
                            </div>

                           
                            <div class="pharmacy_address">
                               kandy roar, Kegalla
                            </div>

                           
                            <div class="results">
                                <div class="distance">
                                    <img src="/images/double-arrow.svg" class="distance_img" width="27px" >
                                    <span class="distance__value">2.4 km</span>
                                </div>
                                <div class="view-btn">
                                    <span class="view_pharmacy">
                                        View
                                    </span>
                                    <img src="/images/views-img.svg" class="view_img" width="27px">
                                </div>
                            </div>


                        </div>
                        

                </div>

                <div class="pharmacy-card" data-id="{id}">
                        <div class="pharmacy-img" >
                            <img    src="/pharmacy picture/lankapharmacy.jpg" alt=" p1" width="250rem">  
                        </div>


                        <div class="pharmacy_infomation">


                            <div class="pharmacy_name_info">
                                <div class="name">Name</div>
                                <div class="pharmacy_name">Amaya Pharmacy Consulations</div>
                            </div>

                           
                            <div class="pharmacy_address">
                               kandy roar, Kegalla
                            </div>

                           
                            <div class="results">
                                <div class="distance">
                                    <img src="/images/double-arrow.svg" class="distance_img" width="27px" >
                                    <span class="distance__value">2.4 km</span>
                                </div>
                                <div class="view-btn">
                                    <span class="view_pharmacy">
                                        View
                                    </span>
                                    <img src="/images/views-img.svg" class="view_img" width="27px">
                                </div>
                            </div>


                        </div>
                        

                </div>

                <div class="pharmacy-card" data-id="{id}">
                        <div class="pharmacy-img" >
                            <img    src="/pharmacy picture/lankapharmacy.jpg" alt=" p1" width="250rem">  
                        </div>


                        <div class="pharmacy_infomation">


                            <div class="pharmacy_name_info">
                                <div class="name">Name</div>
                                <div class="pharmacy_name">Amaya Pharmacy Consulations</div>
                            </div>

                           
                            <div class="pharmacy_address">
                               kandy roar, Kegalla
                            </div>

                           
                            <div class="results">
                                <div class="distance">
                                    <img src="/images/double-arrow.svg" class="distance_img" width="27px" >
                                    <span class="distance__value">2.4 km</span>
                                </div>
                                <div class="view-btn">
                                    <span class="view_pharmacy">
                                        View
                                    </span>
                                    <img src="/images/views-img.svg" class="view_img" width="27px">
                                </div>
                            </div>


                        </div>
                        

                </div>

                
            </div>
        </div>

        <div class="container">

            <div class="section-title">
                    <h3 class="title-one">Top Rated Pharmacies</h3>
                </div>

            <div class="pharmacy_grid">

                <div class="pharmacy-card" data-id="{id}">
                        <div class="pharmacy-img" >
                            <img    src="/pharmacy picture/lankapharmacy.jpg" alt=" p1" width="250rem" class="pharmacy-image">  
                        </div>


                        <div class="pharmacy_infomation">


                            <div class="pharmacy_name_info">
                                <div class="name">Name</div>
                                <div class="pharmacy_name">Amaya Pharmacy Consulations</div>
                            </div>

                           
                            <div class="pharmacy_address">
                               kandy roar, Kegalla
                            </div>

                           
                            <div class="results">
                                <div class="distance">
                                    <img src="/images/double-arrow.svg" class="distance_img" width="27px" >
                                    <span class="distance__value">2.4 km</span>
                                </div>
                                <div class="view-btn">
                                    <span class="view_pharmacy">
                                        View
                                    </span>
                                    <img src="/images/views-img.svg" class="view_img" width="27px">
                                </div>
                            </div>


                        </div>
                        

                </div>

                <div class="pharmacy-card" data-id="{id}">
                        <div class="pharmacy-img" >
                            <img    src="/pharmacy picture/lankapharmacy.jpg" alt=" p1" width="250rem">  
                        </div>


                        <div class="pharmacy_infomation">


                            <div class="pharmacy_name_info">
                                <div class="name">Name</div>
                                <div class="pharmacy_name">Amaya Pharmacy Consulations</div>
                            </div>

                           
                            <div class="pharmacy_address">
                               kandy roar, Kegalla
                            </div>

                           
                            <div class="results">
                                <div class="distance">
                                    <img src="/images/double-arrow.svg" class="distance_img" width="27px" >
                                    <span class="distance__value">2.4 km</span>
                                </div>
                                <div class="view-btn">
                                    <span class="view_pharmacy">
                                        View
                                    </span>
                                    <img src="/images/views-img.svg" class="view_img" width="27px">
                                </div>
                            </div>


                        </div>
                        

                </div>

                <div class="pharmacy-card" data-id="{id}">
                        <div class="pharmacy-img" >
                            <img    src="/pharmacy picture/lankapharmacy.jpg" alt=" p1" width="250rem">  
                        </div>


                        <div class="pharmacy_infomation">


                            <div class="pharmacy_name_info">
                                <div class="name">Name</div>
                                <div class="pharmacy_name">Amaya Pharmacy Consulations</div>
                            </div>

                           
                            <div class="pharmacy_address">
                               kandy roar, Kegalla
                            </div>

                           
                            <div class="results">
                                <div class="distance">
                                    <img src="/images/double-arrow.svg" class="distance_img" width="27px" >
                                    <span class="distance__value">2.4 km</span>
                                </div>
                                <div class="view-btn">
                                    <span class="view_pharmacy">
                                        View
                                    </span>
                                    <img src="/images/views-img.svg" class="view_img" width="27px">
                                </div>
                            </div>


                        </div>
                        

                </div>

                <div class="pharmacy-card" data-id="{id}">
                        <div class="pharmacy-img" >
                            <img    src="/pharmacy picture/lankapharmacy.jpg" alt=" p1" width="250rem">  
                        </div>


                        <div class="pharmacy_infomation">


                            <div class="pharmacy_name_info">
                                <div class="name">Name</div>
                                <div class="pharmacy_name">Amaya Pharmacy Consulations</div>
                            </div>

                           
                            <div class="pharmacy_address">
                               kandy roar, Kegalla
                            </div>

                           
                            <div class="results">
                                <div class="distance">
                                    <img src="/images/double-arrow.svg" class="distance_img" width="27px" >
                                    <span class="distance__value">2.4 km</span>
                                </div>
                                <div class="view-btn">
                                    <span class="view_pharmacy">
                                        View
                                    </span>
                                    <img src="/images/views-img.svg" class="view_img" width="27px">
                                </div>
                            </div>


                        </div>
                        

                </div>

                
            </div>
        </div>
        </div>
    
        </section>
        

     <section class="footer">
        <div class="main">

             <div class="logo">
                <img class="logopic" src="/logo/logo.svg" alt="logo">
                <p class="logoname">PharmaNet</p>
            </div>

            <div class="site-map">
                <h4 class="foot-title">Site Map</h4>
                <ul>
                    <li><a href="#">Search Medicines</a></li>
                    <li><a href="#">Search Pharmacies</a></li>
                    <li><a href="#">Register Pharmacies</a></li>
                    <li><a href="#">Top Rated Pharmacies</a></li>
                </ul>
            </div>

            <div class="footer-discription">
                <h4 class="foot-title">Description</h4>
                <p>This is created for university 2nd year<br>learning project by chathura priyashan , <br>kasun nirmal , chamani niroshani , <br>noorul hamdha</p>
            </div>

        </div>
        <div class="bottom">
            <nav class="footerlinks">
                <span>Alright Reserved ©Pharmanet 2025</span>
                <a href="#">About</a>
                <a href="#">Contacts</a>
                <a href="#">Linked in</a>
                <a href="#">Facebook</a>
                <a href="#">Teams & Conditions</a>
            </nav>
        </div>
    </section>

     <script>
        
        const allElements = Array.from(document.querySelector('body').children);

        const intersectionObserver = new IntersectionObserver((entries)=>{
            const [entry] = entries;
            entry.target.classList.remove("utility-hidden");
        } , {
            root:null,
            threshold: .1,
        })



        allElements.forEach(( el ,index)=>{
            // if(index < 2) return;

            if(el.tagName == "script") return;

            // Check if element is initially visible
            const rect = el.getBoundingClientRect();
            const isVisible = rect.top < window.innerHeight && rect.bottom > 0;
            if(isVisible) return;

            intersectionObserver.observe(el);
            el.classList.add('utility-transition')
            el.classList.add('utility-hidden');
            
        })
        



    </script>

    <script type="module" src="/js/controller/customer/customer.pharamacy.view.controller.js"></script>

    </main>
</body>
    