<a href="/customers/{customerId}/medicines" class="medicine-card" data-id="{id}">
    <div class="medi-img">

        <img style="max-width: 10rem; border-radius: 50%; aspect-ratio: 1;" src="{image}" alt=" med1">

    </div>


    <div class="med_infomation">
        <div class="medicine_name">
            <div class="name">Name</div>
            <div>{name}</div>
        </div>
        <div class="medicine_info">
            <div class="medicine__info__price">
                <span>
                    <div class="store-as__icon">
                        <!-- <img src="/images/price_tag.svg" width="20rem"> -->
                    </div>
                    <!-- <span>Price</span> -->
                </span>
            </div>
        </div>
        <div class="results">
            
        </div>
    </div>


</a>