<div class="pharmacy" data-id="{pharmacyId}" data-stockId="{id}">
    <a href="/customers/{customerId}/pharmacies/{pharmacyId}">
        <img class="pharmacy__image" src="{image}" />
    </a>
    <a href="/customers/{customerId}/pharmacies/{pharmacyId}" class="pharmacy__name">{pharmacy}</a>
    <div class="pharmacy__distance">Distance : {distance}</div>

    <div class="status {status}">
        <div class="online"><span></span>online</div>
        <div class="offline"><span></span>offline</div>
    </div>
    <div class="pharmacy__address">
        {addressNo} , {street} , {town} , {province}
    </div>
    <div class="pharmacy__tel">
        <img src="/images/call-img.svg">
        {contact}
    </div>
    <div class="pharmacy__stock">
        <h4>stock</h4>
        <div class="pharmacy__stock__value"> {stock} Stock</div>
        <div class="pharmacy__stock__price">Rs. {price}</div>
    </div>


    <a href="/customers/{customerId}/pharmacies/{pharmacyId}" class="pharmacy__view buttons">view</a>
</div>