
<div class="medicine-card" data-id="{id}" data-type="medicine">
        <a href="/customers/{userId}/medicines/{id}" class="medi-img" >
            
            <img src="{image}" alt="{name}" onerror="this.style.display='none'; this.nextElementSibling.style.display='flex';" >  
            <span class="img-alt">{name}</span>
        </a>


        <div class="med_infomation">
            <div class="medicine_name">
                <div class="name">Name</div>
                <a href="/customers/{userId}/medicines/{id}">{name}</a>
            </div>
            <div class="medicine_info">
                <div class="medicine__info__price">
                    <span>
                        <div class="store-as__icon">
                            <img src="/images/price_tag.svg" width="20rem" >
                        </div>
                        <span>Price</span>
                    </span>
                    
                    <span class="price">
                        Rs.<div class="price__value">{price}</div>
                        <!-- <span class="price__identifier">(average)</span> -->
                    </span>
                </div>
            </div>
            <div class="results add-to-cart">
                    <div class="map-serach">
                        <img src="/images/world.svg" class="world_img" width="27px">
                        <span class="map__search">
                            <div class="map__search__value">{publicStock}</div>
                        </span>
                    </div>
                    <div class="map-serach">
                        <!-- <img src="/images/world.svg" class="world_img" width="27px"> -->
                        <span class="map__search">
                            <div class="map__search__value add-to-cart">add to Cart +</div>
                        </span>
                    </div>
                    
            </div>
        </div>
        

</div>