<div class="card" data-id="{id}">
        <a href="{link}">
            <img src="{img}" alt="">

        </a>
        <div>
            <a href="{link}" class="name-container">
                <span>name</span><br>
                <div class="name">
                    {name}
                </div>
                </a>
            </div>

            <div class="status {status_class}">
                {status}
            </div>
            <br>
            <button class="cta {cta_class}"  data-id="{id}">{cta}</button>


            </div>
