
<div class="medicine-card" data-id="{id}">
        <div class="medi-img" >
            
            <img    src="/MedicinePictures/med2.svg" alt=" med1">  

        </div>


        <div class="med_infomation">
            <div class="medicine_name">
                <div class="name">Name</div>
                <div>{name}</div>
            </div>
            <div class="medicine_info">
                <div class="medicine__info__price">
                    <span>
                        <div class="store-as__icon">
                            <img src="/images/price_tag.svg" width="20rem" >
                        </div>
                        <span>Price</span>
                    </span>
                    
                    <span class="price">
                        Rs.<div class="price__value">Rs {price}</div>
                        <!-- <span class="price__identifier">(average)</span> -->
                    </span>
                </div>
            </div>
            <div class="results">
                    <div class="map-serach">
                        <img src="/images/world.svg" class="world_img" width="27px">
                        <span class="map__search">
                            <div class="map__search__value">{publicStock}</div>
                        </span>
                    </div>
            </div>
        </div>
        

</div>