{header}

<body class="medicine-review">
    <header>
        {navbar}
    </header>

    <main class="main-container">

        <!-- main-info section -->
        <div class="main-info">
            <div><span class="name">{geneticName}</span></div>

            <img src="{image}" alt="{geneticName}" class="medi-img">
            <div class="right-side">
                <h4 style="color: var(--color-green-01)">Details</h4>
                <!-- <div>( Brand ) <span class="otherBrandName">{brand}</span> </div> -->
                <div>Dosage <span class="dosageFrom">{dosage}</span> </div>
                <div> <span class="drugClass">{schedule} Schedule</span> </div>
                <div> <span class="drugClass">{country}</span> </div>

            </div>

        </div>

        <section class="pharmacies">
            <h2>Available Pharmacies</h2>

            <div class="pharmacy-container">
                {availablePharmacies}
            </div>

            </div>
        </section>

        {footer}

        <script>

            const allElements = Array.from(document.querySelector('body').children);

            const intersectionObserver = new IntersectionObserver((entries) => {
                const [entry] = entries;
                entry.target.classList.remove("utility-hidden");
            }, {
                root: null,
                threshold: .1,
            })



            allElements.forEach((el, index) => {
                // if(index < 2) return;

                if (el.tagName == "script") return;

                // Check if element is initially visible
                const rect = el.getBoundingClientRect();
                const isVisible = rect.top < window.innerHeight && rect.bottom > 0;
                if (isVisible) return;

                intersectionObserver.observe(el);
                el.classList.add('utility-transition')
                el.classList.add('utility-hidden');

            })




        </script>

    </main>

    {cart}
</body>