{header}

<body class="landingPage">
  <header>
    {navbar}
  </header>

  <main class="main-container">

    {cart}

    <!-- Header -->
    <header class="header">
      <div class="header-content" style="--profile : url({image});">
        <h1>{name}</h1>
        <a href="{googleMapLink}" class="btn secondary google-location-pin"><svg xmlns="http://www.w3.org/2000/svg"
            width="21" height="22" viewBox="0 0 21 22" fill="none">
            <g clip-path="url(#clip0_856_4252)">
              <path
                d="M12.1276 1.6697C11.4593 1.45887 10.7433 1.34351 10.0034 1.34351C7.84334 1.34351 5.91004 2.31812 4.61719 3.85362L7.93882 6.64618L12.1276 1.6697Z"
                fill="#1A73E8" />
              <path
                d="M4.61735 3.85364C3.55242 5.11849 2.96907 6.71918 2.97046 8.37264C2.97046 9.69334 3.23301 10.7674 3.66661 11.7261L7.93898 6.64619L4.61735 3.85364Z"
                fill="#EA4335" />
              <path
                d="M10.0035 5.68751C10.5163 5.68798 11.0182 5.83497 11.4503 6.11116C11.8823 6.38736 12.2265 6.78126 12.4421 7.24648C12.6578 7.7117 12.7361 8.22887 12.6677 8.73707C12.5993 9.24528 12.3871 9.72336 12.0561 10.115L16.241 5.13854C15.382 3.48359 13.9011 2.23736 12.1237 1.67371L7.94287 6.65018C8.19479 6.34849 8.50995 6.10588 8.86604 5.93952C9.22213 5.77316 9.61044 5.68713 10.0035 5.68751Z"
                fill="#4285F4" />
              <path
                d="M10.0035 11.0657C8.51966 11.0657 7.31433 9.86039 7.31433 8.3766C7.31259 7.74481 7.53534 7.13295 7.94285 6.65015L3.6665 11.73C4.39846 13.3491 5.61174 14.6499 6.86084 16.2888L12.0561 10.115C11.8037 10.4132 11.4893 10.6528 11.1347 10.817C10.7802 10.9812 10.3942 11.0661 10.0035 11.0657Z"
                fill="#FBBC04" />
              <path
                d="M11.9526 17.9715C14.2996 14.3038 17.0325 12.637 17.0325 8.37256C17.0325 7.20303 16.7461 6.10112 16.2409 5.13049L6.86475 16.2888C7.26255 16.8099 7.66432 17.3628 8.05417 17.9754C9.47829 20.1793 9.08447 21.5 10.0034 21.5C10.9223 21.5 10.5285 20.1753 11.9526 17.9715Z"
                fill="#34A853" />
            </g>
            <defs>
              <clipPath id="clip0_856_4252">
                <rect width="21" height="21" fill="white" transform="translate(0 0.5)" />
              </clipPath>
            </defs>
          </svg> Open in Maps</a>
      </div>

      <!-- Floating contact card -->
      <div class="contact-card {status}">
        <span class="status"><svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11"
            fill="none">
            <circle cx="5.5" cy="5.5" r="5.5" fill="#34A853" />
          </svg> {status}</span>
        <h3>Contact</h3>
        <p>Secure and Private<br>communication</p>
        <button class="btn">Message <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none">
            <path
              d="M21 11.5C21.0034 12.8199 20.6951 14.1219 20.1 15.3C19.3944 16.7118 18.3098 17.8992 16.9674 18.7293C15.6251 19.5594 14.0782 19.9994 12.5 20C11.1801 20.0035 9.87812 19.6951 8.7 19.1L3 21L4.9 15.3C4.30493 14.1219 3.99656 12.8199 4 11.5C4.00061 9.92179 4.44061 8.37488 5.27072 7.03258C6.10083 5.69028 7.28825 4.6056 8.7 3.90003C9.87812 3.30496 11.1801 2.99659 12.5 3.00003H13C15.0843 3.11502 17.053 3.99479 18.5291 5.47089C20.0052 6.94699 20.885 8.91568 21 11V11.5Z"
              stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg></button>
      </div>
    </header>

    <!-- Store Section -->
    <section class="store">
      <div class="header">

        <div>
          <h2 class="store-shape">Store</h2>
          <p>Take a look at our complete selection for your health needs.</p>
        </div>

        <div class="search-bar">
          <input type="text" placeholder="Search in Amaya Pharmacy Center’s Store">
          <img src="/images/customerpage/pharmacy/search-img.svg" alt="">
        </div>
      </div>

      <!-- Product Grid -->
      <div class="Medicines_grid">

        {medicineCards}

      </div>

      <!-- <div class="contactBtn">
        <button>Contact Now <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
        <g clip-path="url(#clip0_856_4281)">
            <path d="M9.92893 17H24.0711" stroke="#1E1E1E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M17 24.071L24.0711 17L17 9.92891" stroke="#1E1E1E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
            <clipPath id="clip0_856_4281">
            <rect width="24" height="24" fill="white" transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 17 33.9706)"/>
            </clipPath>
        </defs>
        </svg></button>
    </div> -->

    </section>

    <!-- <section class="feedback">
    <h5 class="feedbackHeading">Here What Our Happy Clients Have To Say</h5>
    <div class="feedbackCards">
        <div class="cardOne">
            <div class="stars">
            <div class="active"></div><div class="active"></div><div class="active"></div><div class="inactive"></div><div class="inactive"></div>
            </div>
            <div class="fSemiColon">“</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="sSemiColon">“</div>
            <div class="quote">”</div>
            <div class="cardFooter">
                <div class="fWord">From </div>
                <div class="lWord">User68786</div>
            </div>
        </div>

        <div class="cardTwo">
            <div class="stars">
            <div class="active"></div><div class="active"></div><div class="active"></div><div class="inactive"></div><div class="inactive"></div>
            </div>
            <div class="fSemiColon">“</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="sSemiColon">“</div>
            <div class="quote">”</div>
            <div class="cardFooter">
                <div class="fWord">From </div>
                <div class="lWord">User68786</div>
            </div>
        </div>

        <div class="cardThree">
            <div class="stars">
            <div class="active"></div><div class="active"></div><div class="active"></div><div class="inactive"></div><div class="inactive"></div>
            </div>
            <div class="fSemiColon">“</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="sSemiColon">“</div>
            <div class="quote">”</div>
            <div class="cardFooter">
                <div class="fWord">From </div>
                <div class="lWord">User68786</div>
            </div>
        </div>

        <div class="cardFour">
            <div class="stars">
            <div class="active"></div><div class="active"></div><div class="active"></div><div class="inactive"></div><div class="inactive"></div>
            </div>
            <div class="fSemiColon">“</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="sSemiColon">“</div>
            <div class="quote">”</div>
            <div class="cardFooter">
                <div class="fWord">From </div>
                <div class="lWord">User68786</div>
            </div>
        </div>
    </div>
</section> -->


    <!-- meat our team -->
    <section class="meetOurTeam">

      <div class="header-section">
        <div class="header-row">
          <span class="line"></span>
          <div class="header">Meet Our Team</div>
          <span class="line"></span>
        </div>
        <div class="description">
          <p>Our supportive team empowers pharmacy staff with tools that make daily<br>
            tasks easier, faster, and stress - free - so you can focus on serving<br>
            customers with confidence.</p>
        </div>


        <div class="contac-information">
          <div class="title">Contacts</div>
          <div class="email">{email}</div>
          <div class="address">{addressNo} , {street} , {town} , {province}</div>
          <div class="p-num-01">{contact}</div>
        </div>
      </div>

      <br><br><br><br>
      <div class="teamMembers">

        {staff}

      </div>



    </section>


    {footer}

    <script>

      const allElements = Array.from(document.querySelector('body').children);

      const intersectionObserver = new IntersectionObserver((entries) => {
        const [entry] = entries;
        entry.target.classList.remove("utility-hidden");
      }, {
        root: null,
        threshold: .1,
      })



      allElements.forEach((el, index) => {
        // if(index < 2) return;

        if (el.tagName == "script") return;

        // Check if element is initially visible
        const rect = el.getBoundingClientRect();
        const isVisible = rect.top < window.innerHeight && rect.bottom > 0;
        if (isVisible) return;

        intersectionObserver.observe(el);
        el.classList.add('utility-transition')
        el.classList.add('utility-hidden');

      })




    </script>


  </main>

  <script type="module" src="/js/controller/customer/customer.pharmacy.view.controller.js"></script>


</body>

</html>