{header}
<body class="landing">
    {verified}
    <!--nav bar for all page-->
    <header>
    {navbar}
        

    </header>

        <div class="container">
            <div class="header-content">
                <h1 class="header-title">Smarter Access to Pharmacies and <br> Medicines. <span class="highlight">Anytime</span>. <span class="highlight">Anywhere</span>.</h1>
                <div class="header-discription">Easily search for nearby pharmacies, check medicine availability, and <br>get the care you need - all in one place.
                    <div class="header-background"></div>
                    <div class="fb-call-msg">
                        <img src="/images/fb-call-msg.svg" alt="fb-call-msg">
                    </div>
                
                    <div class="pills">
                        <img src="/logo/pils.svg" alt="pills">
                    </div>
                        
                    <div class="pillBW">
                        <img src="/logo/pillBW.svg" alt="pillBW">
                    </div>

                    <div class="pillwhite">
                        <img src="/logo/pillwhite.svg" alt="pillwhite">
                    </div>

                    <div class="pillblue"> 
                        <img src="/logo/pillblue.svg" alt="pillblue">
                    </div>

                    <div class="side-words">
                        <p>Healthcare   |    Ecosystem</p>
                    </div>
     
                    <div class="upload-container">
                            <input type="file,jpg,png,svg" id="fileUpload" hidden/>
                            <lable for="fileUpload" class="upload-box">
                                <div class="icon"><img src="/images/upload.svg" alt="upload prescription"></div>
                                <p>Upload<br>Prescription</p>
                            </lable>
                    </div>
                </div>
            </div>
        </div>

<!-- Medicine Section -->
        <section class="medicine-section" style="margin-top: 25rem;">
            <div class="container">
                <div class="section-title">
                    <h3 class="section-first-title">Discover Medicine across country</h3>
                    <p class="section-second-title">Choose From the Best Customer Services</p>
                </div>
            
             

            <div class="Medicines_grid">
                
                {medicineCards}

  

            </div>

            </div>

       
        </section>


<!-- Top Pharmacies Section -->
   <!-- <div class="pharmacy-section">
        <div class="container">

            <div class="section-title">
                    <h3 class="section-first-title">Top Rated Pharmacies</h3>
                    <p class="section-second-title">Choose From the Best Customer Services</p>
                </div>

            <div class="pharmacy_grid">
                {pharmacies}
                
            </div>
        </div>
   </div> -->
        

<!-- Advantages Section -->
        <section class="advantages-section">
            <div class="container">
            <div class="section-title">
                <h3 class="section-first-title">The magic behind what we do</h3>
                <p class="section-second-title">Our Features</p>
            </div>

            <div class="advantages-grid">
                <div class="advantage-card">
                    <h3 class="advantage-title"><img src="/images/lock.svg" alt="end-to-encript">End-to-End Privacy</h3>
                    <p class="advantage-disc">From the moment you connect to the moment you log out, your data is encrypted, secure, and invisible to everyone but you. No middlemen, no leaks — just total control over your information.</p>
                </div>

                <div class="advantage-card">
                    <h3 class="advantage-title"><img src="/images/database.svg">Discover Medicines</h3>
                    <p class="advantage-disc">Effortlessly explore a wide range of medicines with accurate details, availability, and alternatives — all in one place, just a tap away.</p>
                </div>

                <div class="advantage-card">
                    <h3 class="advantage-title"><img src="/images/Location city.svg">Connect with Pharmacies</h3>
                    <p class="advantage-disc">Easily reach out to nearby or trusted pharmacies for inquiries, orders, or support — all within one seamless platform.</p>
                </div>
            </div>
            
            <h1 class="mid-title">
                You will find any medicine here
            </h1>
            </div>

            <div class="stats-container">
                    
                    <div class="stat-orange">
                        <div class="arc"></div>
                        <div class="text-wrapper">
                        <div class="progress-text">
                            <div class="value">{MedicineCount}</div>
                            <div class="label">NMRA Registered<br />Medicines</div>
                        </div>
                        </div>
                    </div>

                    <div class="section-title">
                        <div class="lock-icon">
                            <img src="/images/lockicon.svg"></img>
                        </div>
                        <h3 class="section-first-title">What we provide</h3>
                        <p class="section-second-title">why should you trust us?</p>
                    </div>
                    
                    <div class="stat-blue">
                        <div class="arc"></div>
                        <div class="text-wrapper">
                        <div class="progress-text">
                            <div class="value">{PharmacyCount}</div>
                            <div class="label">Verified Pharmacies</div>
                        </div>
                        </div>
                    </div>
      
            </div>
        </section>
    


<!-- Regidtrstion Section -->

    <div class="joinus">
        <h1 class="header-title">Join to Us !</h1>
        <p class="header-discription">Become a Partner Pharmacy</p>
        <div class="button-group">
            <a href="mailto:cs18.devteam.feedback@gmail.com" class="btn demo">
                Request a Demo <span class="icon"><img src=""></span>
            </a>
            <a href="/customers/{id}/products/pharmacy_management_system" class="btn reg">
                Register as Pharmacy<span class="icon"><img src=""></span>
            </a>
        </div>
    </div>

    <!-- footer Section -->

        {cart}


    {footer}

    <script>
        
        const allElements = Array.from(document.querySelector('body').children);

        const intersectionObserver = new IntersectionObserver((entries)=>{
            const [entry] = entries;
            entry.target.classList.remove("utility-hidden");
        } , {
            root:null,
            threshold: .1,
        })



        allElements.forEach(( el ,index)=>{
            // if(index < 2) return;

            if(el.tagName == "script") return;

            // Check if element is initially visible
            const rect = el.getBoundingClientRect();
            const isVisible = rect.top < window.innerHeight && rect.bottom > 0;
            if(isVisible) return;

            intersectionObserver.observe(el);
            el.classList.add('utility-transition')
            el.classList.add('utility-hidden');
            
        })
        



    </script>


</body>
</html>