{header}
<body class="medicine-review">
  <header>
    {navbar}
  </header>

<main class="main-container">

    <section class="medicine">
        <!-- main-info section -->
        <div class="main-info">
            <img src="{image}" alt="{geneticName}" class="medi-img">
            <div class="right-side">
                <div>Generic name: <span class="name">{geneticName}</span></div>
                <div>Brand Names: <span class="otherBrandName">{brand}</span> </div>
                <div>Dosage from: <span class="dosageFrom">{dosage}</span> </div>
                <div>Schedule: <span class="drugClass">{schedule}</span> </div>
                <div>Country: <span class="drugClass">{country}</span> </div>
            </div>
        </div>

        <!-- about the medicine -->
        <div class="about">
            <div class="title">Paracitamol: the essential pain reliever</div>
            <div class="para">
                <p>Paracetamol, also known as acetaminophen, is one of the most commonly used medicines in the world. It is widely trusted for its ability to reduce pain and lower fever, making it a household essential for both adults and children.</p>
                <p>What Is Paracetamol?</p>
                <p>Paracetamol is an analgesic (pain reliever) and antipyretic (fever reducer). It works by blocking chemical signals in the brain that create the feeling of pain and by regulating the body’s temperature to reduce fever.</p>
                <p>Common Uses</p>
                <p>Paracetamol is used to treat a variety of everyday conditions, including:</p>
                    <ul>
                        <li>Headaches</li>
                        <li>Fever</li>
                        <li>Toothaches</li>
                        <li>Flu and cold symptoms</li>
                        <li>Muscle or joint pain</li>
                        <li>Menstrual cramps</li>
                    </ul>

                <p>It is often recommended as a first-line treatment because it is gentle on the stomach and safe for most people when used correctly.</p>
            </div>
        </div>

        <!-- how it work -->
         <div>
            <div class="title">How It works</div>
            <div class="para">
                <p>Unlike many painkillers, paracetamol does not reduce inflammation. Instead, it targets the central nervous system and blocks the enzymes that send pain signals to the brain. It also acts in the brain’s temperature-control center to help reduce fever.</p>
                <p>Dosage & Safety</p>
                <p>It is important to follow the correct dosage instructions to avoid liver damage. <br>For adults:</p>
                <ul>
                    <li>Usually 500mg–1000mg every 4–6 hours</li>
                    <li>Maximum daily limit: 4000mg</li>
                </ul>
                <p>For children:</p>
                <ul>
                    <li>Doses depend on weight</li>
                    <li>Always follow the instructions on the label or pharmacist’s advice</li>
                </ul>
                <p>Paracetamol is generally safe, but taking too much can be harmful. People with liver conditions should use it cautiously and consult a doctor.</p>
                <p>Side Effects</p>
                <p>Most people experience no side effects, but rare cases may include:</p>
                <ul>
                    <li>Allergic reactions</li>
                    <li>Skin rash</li>
                    <li>Nausea</li>
                </ul>

                <p>Seek medical help if any unusual symptoms appear.</p>
                <p>Why It’s So Popular</p>
                <p>Paracetamol is widely used because it is effective, affordable, and safe for most age groups. It is available in many forms — tablets, syrups, dissolvable powders, and injections — making it easy to use in different situations.</p>
                <p>Conclusion</p>
                <p>Paracetamol remains one of the most trusted medicines for quick relief from pain and fever. When taken responsibly, it is a powerful and safe tool to improve comfort and well-being.</p>
            </div>
         </div>

         <div class="refference">
            Refference  <a href="https://www.drugs.com/paracetamol.html" class="web-site">https://www.drugs.com/paracetamol.html</a>
         </div>

    </section>


    <!-- Available pharmacy -->

    <div class="pharmacy-section">
        <div class="container">

            <div class="section-title">
                    <h3 class="title-one">Nearby Pharmacies</h3>
            </div>
            <div class="pharmacy_grid">

                <div class="pharmacy-card" data-id="{id}">
                    <div class="pharmacy-img" >
                        <img    src="/pharmacy picture/lankapharmacy.jpg" alt=" p1" width="250rem" class="pharmacy-image">  
                    </div>


                    <div class="pharmacy_infomation">

                        <div class="pharmacy_name_info">
                            <div class="name">Name</div>
                            <div class="pharmacy_name">Amaya Pharmacy Consulations</div>
                        </div>

                                
                        <div class="pharmacy_address">
                            kandy roar, Kegalla
                        </div>

                                
                        <div class="results">
                            <div class="distance">
                                <img src="/images/double-arrow.svg" class="distance_img" width="27px" >
                                <span class="distance__value">2.4 km</span>
                            </div>
                            <div class="view-btn">
                                <span class="view_pharmacy">
                                    View
                                </span>
                                <img src="/images/views-img.svg" class="view_img" width="27px">
                            </div>
                        </div>


                    </div>
                </div>
                
                <div class="pharmacy-card" data-id="{id}">
                    <div class="pharmacy-img" >
                        <img    src="/pharmacy picture/lankapharmacy.jpg" alt=" p1" width="250rem" class="pharmacy-image">  
                    </div>


                    <div class="pharmacy_infomation">

                        <div class="pharmacy_name_info">
                            <div class="name">Name</div>
                            <div class="pharmacy_name">Amaya Pharmacy Consulations</div>
                        </div>

                                
                        <div class="pharmacy_address">
                            kandy roar, Kegalla
                        </div>

                                
                        <div class="results">
                            <div class="distance">
                                <img src="/images/double-arrow.svg" class="distance_img" width="27px" >
                                <span class="distance__value">2.4 km</span>
                            </div>
                            <div class="view-btn">
                                <span class="view_pharmacy">
                                    View
                                </span>
                                <img src="/images/views-img.svg" class="view_img" width="27px">
                            </div>
                        </div>


                    </div>
                </div> 

                <div class="pharmacy-card" data-id="{id}">
                    <div class="pharmacy-img" >
                        <img    src="/pharmacy picture/lankapharmacy.jpg" alt=" p1" width="250rem" class="pharmacy-image">  
                    </div>


                    <div class="pharmacy_infomation">

                        <div class="pharmacy_name_info">
                            <div class="name">Name</div>
                            <div class="pharmacy_name">Amaya Pharmacy Consulations</div>
                        </div>

                                
                        <div class="pharmacy_address">
                            kandy roar, Kegalla
                        </div>

                                
                        <div class="results">
                            <div class="distance">
                                <img src="/images/double-arrow.svg" class="distance_img" width="27px" >
                                <span class="distance__value">2.4 km</span>
                            </div>
                            <div class="view-btn">
                                <span class="view_pharmacy">
                                    View
                                </span>
                                <img src="/images/views-img.svg" class="view_img" width="27px">
                            </div>
                        </div>


                    </div>
                </div> 

                <div class="pharmacy-card" data-id="{id}">
                    <div class="pharmacy-img" >
                        <img    src="/pharmacy picture/lankapharmacy.jpg" alt=" p1" width="250rem" class="pharmacy-image">  
                    </div>


                    <div class="pharmacy_infomation">

                        <div class="pharmacy_name_info">
                            <div class="name">Name</div>
                            <div class="pharmacy_name">Amaya Pharmacy Consulations</div>
                        </div>

                                
                        <div class="pharmacy_address">
                            kandy roar, Kegalla
                        </div>

                                
                        <div class="results">
                            <div class="distance">
                                <img src="/images/double-arrow.svg" class="distance_img" width="27px" >
                                <span class="distance__value">2.4 km</span>
                            </div>
                            <div class="view-btn">
                                <span class="view_pharmacy">
                                    View
                                </span>
                                <img src="/images/views-img.svg" class="view_img" width="27px">
                            </div>
                        </div>


                    </div>
                </div> 

            </div>
        </div>
    </div>


    <!-- you can read other blogs -->
<section class="medicine-section">
           <div class="section-title">
                    <h3 class="title-one">You Can Read Other Blogs</h3>
            </div> 

            <div class="Medicines_grid">
                
                <div class="medicine-card" data-id="{id}">
                        <div class="medi-img" >
                            
                            <img    src="/MedicinePictures/med1.svg" alt=" med1">  

                        </div>


                        <div class="med_infomation">
                            <div class="medicine_name">
                                <div class="name">Name</div>
                                <div>AMPICILLIN SODIUM FOR INJECTION BP 250MG</div>
                            </div>
                            <div class="medicine_info">
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                        <span>Price</span>
                                    </span>
                                    
                                    <span class="price">
                                        Rs.<div class="price__value"> 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                        
                            <div class="results">
                                <div class="view-btn">
                                    <span class="view_medicine">
                                        Read
                                    </span>
                                    <img src="/images/views-img.svg" class="view_img" width="27px">
                                </div>
                            </div>
                            
                        </div>
                        

                </div>

                <div class="medicine-card" data-id="{id}">
                        <div class="medi-img" >
                            
                            <img    src="/MedicinePictures/med1.svg" alt=" med1">  

                        </div>


                        <div class="med_infomation">
                            <div class="medicine_name">
                                <div class="name">Name</div>
                                <div>AMPICILLIN SODIUM FOR INJECTION BP 250MG</div>
                            </div>
                            <div class="medicine_info">
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                        <span>Price</span>
                                    </span>
                                    
                                    <span class="price">
                                        Rs.<div class="price__value"> 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                        
                            <div class="results">
                                <div class="view-btn">
                                    <span class="view_medicine">
                                        Read
                                    </span>
                                    <img src="/images/views-img.svg" class="view_img" width="27px">
                                </div>
                            </div>
                            
                        </div>
                        

                </div>

                <div class="medicine-card" data-id="{id}">
                        <div class="medi-img" >
                            
                            <img    src="/MedicinePictures/med1.svg" alt=" med1">  

                        </div>


                        <div class="med_infomation">
                            <div class="medicine_name">
                                <div class="name">Name</div>
                                <div>AMPICILLIN SODIUM FOR INJECTION BP 250MG</div>
                            </div>
                            <div class="medicine_info">
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                        <span>Price</span>
                                    </span>
                                    
                                    <span class="price">
                                        Rs.<div class="price__value"> 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                        
                            <div class="results">
                                <div class="view-btn">
                                    <span class="view_medicine">
                                        Read
                                    </span>
                                    <img src="/images/views-img.svg" class="view_img" width="27px">
                                </div>
                            </div>
                            
                        </div>
                        

                </div>

                <div class="medicine-card" data-id="{id}">
                        <div class="medi-img" >
                            
                            <img    src="/MedicinePictures/med1.svg" alt=" med1">  

                        </div>


                        <div class="med_infomation">
                            <div class="medicine_name">
                                <div class="name">Name</div>
                                <div>AMPICILLIN SODIUM FOR INJECTION BP 250MG</div>
                            </div>
                            <div class="medicine_info">
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                        <span>Price</span>
                                    </span>
                                    
                                    <span class="price">
                                        Rs.<div class="price__value"> 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                        
                            <div class="results">
                                <div class="view-btn">
                                    <span class="view_medicine">
                                        Read
                                    </span>
                                    <img src="/images/views-img.svg" class="view_img" width="27px">
                                </div>
                            </div>
                            
                        </div>
                        

                </div>

            </div>

            </div>

       
</section>

    <!-- footer Section -->
         <section class="footer">
        <div class="main">

             <div class="logo">
                <img class="logopic" src="/logo/logo.svg" alt="logo">
                <p class="logoname">PharmaNet</p>
            </div>

            <div class="site-map">
                <h4 class="foot-title">Site Map</h4>
                <ul>
                    <li><a href="#">Search Medicines</a></li>
                    <li><a href="#">Search Pharmacies</a></li>
                    <li><a href="#">Register Pharmacies</a></li>
                    <li><a href="#">Top Rated Pharmacies</a></li>
                </ul>
            </div>

            <div class="footer-discription">
                <h4 class="foot-title">Description</h4>
                <p>This is created for university 2nd year<br>learning project by chathura priyashan , <br>kasun nirmal , chamani niroshani , <br>noorul hamdha</p>
            </div>

        </div>
        <div class="bottom">
            <nav class="footerlinks">
                <span>Alright Reserved ©Pharmanet 2025</span>
                <a href="#">About</a>
                <a href="#">Contacts</a>
                <a href="#">Linked in</a>
                <a href="#">Facebook</a>
                <a href="#">Teams & Conditions</a>
            </nav>
        </div>
        </section>

        <script>
            
            const allElements = Array.from(document.querySelector('body').children);

            const intersectionObserver = new IntersectionObserver((entries)=>{
                const [entry] = entries;
                entry.target.classList.remove("utility-hidden");
            } , {
                root:null,
                threshold: .1,
            })



            allElements.forEach(( el ,index)=>{
                // if(index < 2) return;

                if(el.tagName == "script") return;

                // Check if element is initially visible
                const rect = el.getBoundingClientRect();
                const isVisible = rect.top < window.innerHeight && rect.bottom > 0;
                if(isVisible) return;

                intersectionObserver.observe(el);
                el.classList.add('utility-transition')
                el.classList.add('utility-hidden');
                
            })
            



        </script>

</main>

</body>