{header}
<body class="landing">

    <!--nav bar for all page-->
    <header>
    {navbar}

    </header>

       
    <main class="main-container">


        <section class="container">
            <!-- Medicine Section -->
        <section class="medicine-section">
            <div class="container">

                <div class="header-section">

                    <div class="active-page">
                        <div class="title">Looking for..</div>
                        <div class="buttons">
                            <div class="active-btn" >Medicines <span class="circle"></span></div>
                            <div class="btn">Pharmacies</div>
                        </div>
                    </div>

                    <div class="addToCart">
                        <span>Your Cart</span><br>
                        <img src="/images/add-to-cart.svg" alt="cart">

                    </div>

                </div>
            
             

            <div class="Medicines_grid">
                
                <div class="medicine-card" data-id="{id}">
                        <div class="medi-img" >
                            
                            <img    src="/MedicinePictures/med1.svg" alt=" med1">  

                        </div>


                        <div class="med_infomation">
                            <div class="medicine_name">
                                <div class="name">Name</div>
                                <div>AMPICILLIN SODIUM FOR INJECTION BP 250MG</div>
                            </div>
                            <div class="medicine_info">
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                        <span>Price</span>
                                    </span>
                                    
                                    <span class="price">
                                        Rs.<div class="price__value"> 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                            <div class="results">
                                    <div class="map-serach">
                                        <img src="/images/world.svg" class="world_img" width="27px">
                                        <span class="map__search">
                                            <div class="map__search__value">2,453</div>
                                        </span>
                                    </div>
                            </div>
                        </div>
                        

                </div>

                <div class="medicine-card" data-id="{id}">
                        <div class="medi-img" >
                            
                            <img    src="/MedicinePictures/med2.svg" alt=" med1">  

                        </div>


                        <div class="med_infomation">
                            <div class="medicine_name">
                                <div class="name">Name</div>
                                <div>AMPICILLIN SODIUM FOR INJECTION BP 250MG</div>
                            </div>
                            <div class="medicine_info">
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                        <span>Price</span>
                                    </span>
                                    
                                    <span class="price">
                                        Rs.<div class="price__value"> 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                            <div class="results">
                                    <div class="map-serach">
                                        <img src="/images/world.svg" class="world_img" width="27px">
                                        <span class="map__search">
                                            <div class="map__search__value">2,453</div>
                                        </span>
                                    </div>
                            </div>
                        </div>
                        

                </div>

                <div class="medicine-card" data-id="{id}">
                        <div class="medi-img" >
                            
                            <img    src="/MedicinePictures/med3.svg" alt=" med1">  

                        </div>


                        <div class="med_infomation">
                            <div class="medicine_name">
                                <div class="name">Name</div>
                                <div>AMPICILLIN SODIUM FOR INJECTION BP 250MG</div>
                            </div>
                            <div class="medicine_info">
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                        <span>Price</span>
                                    </span>
                                    
                                    <span class="price">
                                        Rs.<div class="price__value"> 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                            <div class="results">
                                    <div class="map-serach">
                                        <img src="/images/world.svg" class="world_img" width="27px">
                                        <span class="map__search">
                                            <div class="map__search__value">2,453</div>
                                        </span>
                                    </div>
                            </div>
                        </div>
                        

                </div>

                <div class="medicine-card" data-id="{id}">
                        <div class="medi-img" >
                            
                            <img    src="/MedicinePictures/med1.svg" alt=" med1">  

                        </div>


                        <div class="med_infomation">
                            <div class="medicine_name">
                                <div class="name">Name</div>
                                <div>AMPICILLIN SODIUM FOR INJECTION BP 250MG</div>
                            </div>
                            <div class="medicine_info">
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                        <span>Price</span>
                                    </span>
                                    
                                    <span class="price">
                                        Rs.<div class="price__value"> 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                            <div class="results">
                                    <div class="map-serach">
                                        <img src="/images/world.svg" class="world_img" width="27px">
                                        <span class="map__search">
                                            <div class="map__search__value">2,453</div>
                                        </span>
                                    </div>
                            </div>
                        </div>
                        

                </div>

                <div class="medicine-card" data-id="{id}">
                        <div class="medi-img" >
                            
                            <img    src="/MedicinePictures/med2.svg" alt=" med1">  

                        </div>


                        <div class="med_infomation">
                            <div class="medicine_name">
                                <div class="name">Name</div>
                                <div>AMPICILLIN SODIUM FOR INJECTION BP 250MG</div>
                            </div>
                            <div class="medicine_info">
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                        <span>Price</span>
                                    </span>
                                    
                                    <span class="price">
                                        Rs.<div class="price__value"> 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                            <div class="results">
                                    <div class="map-serach">
                                        <img src="/images/world.svg" class="world_img" width="27px">
                                        <span class="map__search">
                                            <div class="map__search__value">2,453</div>
                                        </span>
                                    </div>
                            </div>
                        </div>
                        

                </div>

                <div class="medicine-card" data-id="{id}">
                        <div class="medi-img" >
                            
                            <img    src="/MedicinePictures/med3.svg" alt=" med1">  

                        </div>


                        <div class="med_infomation">
                            <div class="medicine_name">
                                <div class="name">Name</div>
                                <div>AMPICILLIN SODIUM FOR INJECTION BP 250MG</div>
                            </div>
                            <div class="medicine_info">
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                        <span>Price</span>
                                    </span>
                                    
                                    <span class="price">
                                        Rs.<div class="price__value"> 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                            <div class="results">
                                    <div class="map-serach">
                                        <img src="/images/world.svg" class="world_img" width="27px">
                                        <span class="map__search">
                                            <div class="map__search__value">2,453</div>
                                        </span>
                                    </div>
                            </div>
                        </div>
                        

                </div>

                <div class="medicine-card" data-id="{id}">
                        <div class="medi-img" >
                            
                            <img    src="/MedicinePictures/med1.svg" alt=" med1">  

                        </div>


                        <div class="med_infomation">
                            <div class="medicine_name">
                                <div class="name">Name</div>
                                <div>AMPICILLIN SODIUM FOR INJECTION BP 250MG</div>
                            </div>
                            <div class="medicine_info">
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                        <span>Price</span>
                                    </span>
                                    
                                    <span class="price">
                                        Rs.<div class="price__value"> 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                            <div class="results">
                                    <div class="map-serach">
                                        <img src="/images/world.svg" class="world_img" width="27px">
                                        <span class="map__search">
                                            <div class="map__search__value">2,453</div>
                                        </span>
                                    </div>
                            </div>
                        </div>
                        

                </div>

                <div class="medicine-card" data-id="{id}">
                        <div class="medi-img" >
                            
                            <img    src="/MedicinePictures/med2.svg" alt=" med1">  

                        </div>


                        <div class="med_infomation">
                            <div class="medicine_name">
                                <div class="name">Name</div>
                                <div>AMPICILLIN SODIUM FOR INJECTION BP 250MG</div>
                            </div>
                            <div class="medicine_info">
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                        <span>Price</span>
                                    </span>
                                    
                                    <span class="price">
                                        Rs.<div class="price__value"> 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                            <div class="results">
                                    <div class="map-serach">
                                        <img src="/images/world.svg" class="world_img" width="27px">
                                        <span class="map__search">
                                            <div class="map__search__value">2,453</div>
                                        </span>
                                    </div>
                            </div>
                        </div>
                        

                </div>

                <div class="medicine-card" data-id="{id}">
                        <div class="medi-img" >
                            
                            <img    src="/MedicinePictures/med2.svg" alt=" med1">  

                        </div>


                        <div class="med_infomation">
                            <div class="medicine_name">
                                <div class="name">Name</div>
                                <div>AMPICILLIN SODIUM FOR INJECTION BP 250MG</div>
                            </div>
                            <div class="medicine_info">
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                        <span>Price</span>
                                    </span>
                                    
                                    <span class="price">
                                        Rs.<div class="price__value"> 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                            <div class="results">
                                    <div class="map-serach">
                                        <img src="/images/world.svg" class="world_img" width="27px">
                                        <span class="map__search">
                                            <div class="map__search__value">2,453</div>
                                        </span>
                                    </div>
                            </div>
                        </div>
                        

                </div>

                <div class="medicine-card" data-id="{id}">
                        <div class="medi-img" >
                            
                            <img    src="/MedicinePictures/med3.svg" alt=" med1">  

                        </div>


                        <div class="med_infomation">
                            <div class="medicine_name">
                                <div class="name">Name</div>
                                <div>AMPICILLIN SODIUM FOR INJECTION BP 250MG</div>
                            </div>
                            <div class="medicine_info">
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                        <span>Price</span>
                                    </span>
                                    
                                    <span class="price">
                                        Rs.<div class="price__value"> 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                            <div class="results">
                                    <div class="map-serach">
                                        <img src="/images/world.svg" class="world_img" width="27px">
                                        <span class="map__search">
                                            <div class="map__search__value">2,453</div>
                                        </span>
                                    </div>
                            </div>
                        </div>
                        

                </div>

                <div class="medicine-card" data-id="{id}">
                        <div class="medi-img" >
                            
                            <img    src="/MedicinePictures/med1.svg" alt=" med1">  

                        </div>


                        <div class="med_infomation">
                            <div class="medicine_name">
                                <div class="name">Name</div>
                                <div>AMPICILLIN SODIUM FOR INJECTION BP 250MG</div>
                            </div>
                            <div class="medicine_info">
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                        <span>Price</span>
                                    </span>
                                    
                                    <span class="price">
                                        Rs.<div class="price__value"> 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                            <div class="results">
                                    <div class="map-serach">
                                        <img src="/images/world.svg" class="world_img" width="27px">
                                        <span class="map__search">
                                            <div class="map__search__value">2,453</div>
                                        </span>
                                    </div>
                            </div>
                        </div>
                        

                </div>

                <div class="medicine-card" data-id="{id}">
                        <div class="medi-img" >
                            
                            <img    src="/MedicinePictures/med2.svg" alt=" med1">  

                        </div>


                        <div class="med_infomation">
                            <div class="medicine_name">
                                <div class="name">Name</div>
                                <div>AMPICILLIN SODIUM FOR INJECTION BP 250MG</div>
                            </div>
                            <div class="medicine_info">
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                        <span>Price</span>
                                    </span>
                                    
                                    <span class="price">
                                        Rs.<div class="price__value"> 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                            <div class="results">
                                    <div class="map-serach">
                                        <img src="/images/world.svg" class="world_img" width="27px">
                                        <span class="map__search">
                                            <div class="map__search__value">2,453</div>
                                        </span>
                                    </div>
                            </div>
                        </div>
                        

                </div>
  

            </div>

            </div>

       
        </section>
        </section>

        <!-- footer Section -->
         <section class="footer">
        <div class="main">

             <div class="logo">
                <img class="logopic" src="/logo/logo.svg" alt="logo">
                <p class="logoname">PharmaNet</p>
            </div>

            <div class="site-map">
                <h4 class="foot-title">Site Map</h4>
                <ul>
                    <li><a href="#">Search Medicines</a></li>
                    <li><a href="#">Search Pharmacies</a></li>
                    <li><a href="#">Register Pharmacies</a></li>
                    <li><a href="#">Top Rated Pharmacies</a></li>
                </ul>
            </div>

            <div class="footer-discription">
                <h4 class="foot-title">Description</h4>
                <p>This is created for university 2nd year<br>learning project by chathura priyashan , <br>kasun nirmal , chamani niroshani , <br>noorul hamdha</p>
            </div>

        </div>
        <div class="bottom">
            <nav class="footerlinks">
                <span>Alright Reserved ©Pharmanet 2025</span>
                <a href="#">About</a>
                <a href="#">Contacts</a>
                <a href="#">Linked in</a>
                <a href="#">Facebook</a>
                <a href="#">Teams & Conditions</a>
            </nav>
        </div>
        </section>

        <script>
            
            const allElements = Array.from(document.querySelector('body').children);

            const intersectionObserver = new IntersectionObserver((entries)=>{
                const [entry] = entries;
                entry.target.classList.remove("utility-hidden");
            } , {
                root:null,
                threshold: .1,
            })



            allElements.forEach(( el ,index)=>{
                // if(index < 2) return;

                if(el.tagName == "script") return;

                // Check if element is initially visible
                const rect = el.getBoundingClientRect();
                const isVisible = rect.top < window.innerHeight && rect.bottom > 0;
                if(isVisible) return;

                intersectionObserver.observe(el);
                el.classList.add('utility-transition')
                el.classList.add('utility-hidden');
                
            })
            



        </script>
    </main>
   

    </body>
</html>