<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="manageBill">
<header>
    <nav>
        <div class="logo">
            <img class="logopic" src="/public/logo/logo.svg" alt="logo">
            <p class="logoname">PharmaNet</p>
        </div>


        <div class="search">
            <form action="POST">
                <input type="search" placeholder="Search anything...">
                <input type="submit" value="Find">
            </form>
        </div>
        <div class="dropdown">
            <a href="#">Services</a>
                <ul class="navbar">
                    <li><img src="/frontend/public/images/Check circle.svg"><a href="#">Services</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                </ul>
        </div>

        <div id="toggle-placeholder"></div>


        <div class="user-section">
          <span>Chathura Priyashan</span>
          <img src="https://via.placeholder.com/40" class="avatar" />
        </div>
    </nav> 
    </header>

    <section class="hero">
        <h1 class="mainHeading">We Provide well suited pharmacy system</h1>
    </section>

    <section class="main-content">
        <div class="side-box">
        <h3>Join with our system</h3>
        <p>Connect with our powerful pharmacy system easily for your management works.</p>
        <button class="start-btn">Start Now - Free</button>
        <ul>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="28" height="15" viewBox="0 0 28 28" fill="none">
<g clip-path="url(#clip0_23_1163)">
<path d="M14 2.33332C7.56004 2.33332 2.33337 7.55999 2.33337 14C2.33337 20.44 7.56004 25.6667 14 25.6667C20.44 25.6667 25.6667 20.44 25.6667 14C25.6667 7.55999 20.44 2.33332 14 2.33332ZM11.6667 19.8333L5.83337 14L7.47837 12.355L11.6667 16.5317L20.5217 7.67665L22.1667 9.33332L11.6667 19.8333Z" fill="#F9A550"/>
</g>
<defs>
<clipPath id="clip0_23_1163">
<rect width="28" height="25" fill="white"/>
</clipPath>
</defs>
</svg>No hidden fees</li>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="28" height="15" viewBox="0 0 28 28" fill="none">
<g clip-path="url(#clip0_23_1163)">
<path d="M14 2.33332C7.56004 2.33332 2.33337 7.55999 2.33337 14C2.33337 20.44 7.56004 25.6667 14 25.6667C20.44 25.6667 25.6667 20.44 25.6667 14C25.6667 7.55999 20.44 2.33332 14 2.33332ZM11.6667 19.8333L5.83337 14L7.47837 12.355L11.6667 16.5317L20.5217 7.67665L22.1667 9.33332L11.6667 19.8333Z" fill="#F9A550"/>
</g>
<defs>
<clipPath id="clip0_23_1163">
<rect width="28" height="28" fill="white"/>
</clipPath>
</defs>
</svg>Affordable monthly plans</li>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="28" height="15" viewBox="0 0 28 28" fill="none">
<g clip-path="url(#clip0_23_1163)">
<path d="M14 2.33332C7.56004 2.33332 2.33337 7.55999 2.33337 14C2.33337 20.44 7.56004 25.6667 14 25.6667C20.44 25.6667 25.6667 20.44 25.6667 14C25.6667 7.55999 20.44 2.33332 14 2.33332ZM11.6667 19.8333L5.83337 14L7.47837 12.355L11.6667 16.5317L20.5217 7.67665L22.1667 9.33332L11.6667 19.8333Z" fill="#F9A550"/>
</g>
<defs>
<clipPath id="clip0_23_1163">
<rect width="28" height="28" fill="white"/>
</clipPath>
</defs>
</svg>Mobile app handling</li>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="28" height="15" viewBox="0 0 28 28" fill="none">
<g clip-path="url(#clip0_23_1163)">
<path d="M14 2.33332C7.56004 2.33332 2.33337 7.55999 2.33337 14C2.33337 20.44 7.56004 25.6667 14 25.6667C20.44 25.6667 25.6667 20.44 25.6667 14C25.6667 7.55999 20.44 2.33332 14 2.33332ZM11.6667 19.8333L5.83337 14L7.47837 12.355L11.6667 16.5317L20.5217 7.67665L22.1667 9.33332L11.6667 19.8333Z" fill="#F9A550"/>
</g>
<defs>
<clipPath id="clip0_23_1163">
<rect width="28" height="28" fill="white"/>
</clipPath>
</defs>
</svg>Auto billing & invoicing</li>
        </ul>
    </div>


<div class="billing-card">
    <img src="/public/images/billings.jpg">

</div>
</section>


<div class="footer">
<!-- <svg xmlns="http://www.w3.org/2000/svg" width="1480" height="400" viewBox="0 0 1480 579" fill="none">
  <path d="M0 0L1480 59.5V579H0V0Z" fill="#08374F"/>
</svg> -->
<div class="footer-topSection">
<div class="footer-left">
<div class="footer-logo">
    <img class="logo" src="/public/logo/logo.svg">
</div>
<div>
    <p>Pharmanet</p>
</div>

</div>
<div class="footer-center">
<h4>Site Map</h4>
<ul>
<li>Search medicines</li>
<li>Search pharmacies</li>
<li>Register pharmacy</li>
<li>Top rated pharmacies</li>
</ul>
</div>
<div class="footer-right">
<h4>Description</h4>
<p>This is created for university 2nd year learning project by chathura priyashan , kasun nirmal , chamani niroshani , noorul hamdha</p>
</div>
</div>
<div class="footer-bottomSection">
    <div>
        <p>© All rights reserved 2025</p>
    </div>
    <div>
        <button><a href="">About</a></button>
    </div>
    <div>
        <button><a href="">ContactUs</a></button>
    </div>
    <div>
        <button><a href="">LinkedIn</a></button>
    </div>
    <div>
        <button><a href="">Facebook</a></button>
    </div>
    <div>
        <button><a href="">Terms and Conditions</a></button>
    </div>
</div>
</div>
    
</body>
</html>