<div class="medicine-card">
    <div class="col">
        <label>{geneticName}</label>
    </div>
    <div class="col">
        <label>Category:</label> <label>{category}</label> </div>
    <div class="col"><label>Type:</label> {packType}</div>
    <div class="col"><label>Manufacturer:</label>{manufacture}</div>
    <div class="col"><label>Serial Number:</label>{serialNumber}</div>
    <div class="col"><label>Registration Number:</label>{registrationNumber}</div>
    <div class="col"><label>Schedule</label>{schedule}</div>
    <div class="actions">
        <button class="medicine-card-update-btn update-btn" data-id="{id}">Update</button>
        <button class="medicine-card-delete-btn delete-btn" data-id="{id}">Delete</button>
    </div>
</div>