<nav>
        <a href="/" class="logo">
            <img class="logopic" src="/logo/logo.svg" alt="logo">
            <p class="logoname">PharmaNet</p>
        </a>


        <div class="search">
            <form class="search-bar" method="GET" action="/customers/{id}/medicines">
                <input type="search" name="search" placeholder="Try searching ...">
                <input type="submit" value="Find">
            </form>
        </div>
        <div class="dropdown">
            <a href="#">Services</a>
                <ul class="navbar">
            <li><a href="/contactus">contact us</a></li>
            <li><a href="/aboutus">about us</a></li>
            <li><a href="/aboutus">Join with us</a></li>
                </ul>
        </div>

        <div><a href="/aboutus">about us</a></div>
        <div><a href="/customers/{id}/products/pharmacy_management_system">Join with us</a></div>

        <div id="toggle-placeholder"></div>

        <div  class="profile">
            <div class="profileName">
                <a href="/customers/{id}/profile">{firstName} {lastName}</a>
                <div class="welcome">Welcome</div>
            </div>
            </div>
        </div>     
        
        
        <div class="setting-dropdown">
            <ul>
                <li><a href="/customers/{id}/profile">Profile</a></li>
                <li><div id="signout">signout</div></li>
            </ul>

        </div>

    </nav>

    <script>
        const search = document.querySelector('.search-bar');
        const signOutBtn = document.getElementById('signout');
        const profile = document.querySelector('.profile');
        const settingDropdown = document.querySelector('.setting-dropdown');

        profile.addEventListener('mouseenter' , ()=>{
            settingDropdown.style.display = "inline-block";
        })

        settingDropdown.addEventListener('mouseleave' , ()=>{
            settingDropdown.style.display = "none";
        });

        function signout(){
            document.cookie = `token="";path="/";expire=${Date.now()}`;
        }

        function redirect(){
            window.location.href = "/login";
        }

        signOutBtn.addEventListener('click' , ()=>{
            if(Swal){
                Swal?.fire({
                    title: "Do you want signout?",
                    showDenyButton: true,
                    // showCancelButton: true,
                    confirmButtonText: "Signout",
                    denyButtonText: "cancel",
                    icon:"question"
                }).then(results=>{
                    signout();
                    if(results.isConfirmed){
                        Swal?.fire({
                            icon:"success",
                            title:"You're signout"
                        }).then(()=>{
                            redirect();
                        })
                    }
                })
            }else{
                const confirmSignout = confirm('do you want to signout ?');
                if(confirmSignout){
                    signout();
                    alert("you're signout");
                    setTimeout(()=>{
                        redirect();
                    } , 2000);
                }
            }
        })


    </script>