<nav>
        <a href="/" class="logo">
            <img class="logopic" src="/logo/logo.svg" alt="logo">
            <p class="logoname">PharmaNet</p>
        </a>


        <div class="search">
            <form class="search-bar" method="GET" action="/customers/{id}/medicines">
                <input type="search" name="search" placeholder="Try searching ...">
                <input type="submit" value="Find">
            </form>
        </div>
        <div class="dropdown">
            <a href="#">Services</a>
                <ul class="navbar">
            <li><a href="/customer/{id}">Home</a></li>
            <li><a href="/contactus">contact us</a></li>
            <!-- <li><a href="/admin">admin dashboard</a></li> -->
                </ul>
        </div>

        <div id="toggle-placeholder"></div>

        <div  class="profile">
            <div class="profileName">
                <a href="/customers/{id}/profile">{firstName} {lastName}</a>
                <div class="welcome">Welcome</div>
            </div>
            </div>
        </div>        

    </nav>

    <script>
        const search = document.querySelector('.search-bar');
    </script>