<div class="result-card">

    
    <img src="/pharmacy picture/search-pharmacy-1.svg">
    <a class="link" href="/customers/{customerId}/pharmacies/{id}">
        <p class="pharmacy-name">{name}</p>
        <p>{addressNo},{street}<br/>{town} , {province}</p>
    </a>
    <div class="status">
        <span class="open-dot"></span> Open
    </div>
    <button  style="display: flex; justify-content: center; align-items: center;" class="message-btn">Message<img style="padding: 1rem;" src="/images/message.svg"></button>
</div>
