<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="styleSheet" href="/css/style.css">
</head>
<body class="createStaff">
     <div class="page">
    <div class="card">

      <div class="card-header">
        <div>
          <h2>Staff Management</h2>
          <p>All your staff members can Manage from here</p>
        </div>

        <button class="btn-create">Create +</button>
      </div>

      <div class="card-body">
        <div class="staff-list">

          <div class="staff-item">
            <img src="https://i.pravatar.cc/48?img=1" alt="avatar" />
            <div class="info">
              <h4>Chathura Priyashan</h4>
              <span>Pharmacy Owner</span>
            </div>
          </div>

          <div class="staff-item">
            <img src="https://i.pravatar.cc/48?img=2" alt="avatar" />
            <div class="info">
              <h4>Chathura Priyashan</h4>
              <span>Pharmacist</span>
            </div>
          </div>

          <div class="staff-item">
            <img src="https://i.pravatar.cc/48?img=3" alt="avatar" />
            <div class="info">
              <h4>Chathura Priyashan</h4>
              <span>Cashier</span>
            </div>
          </div>

          <div class="staff-item">
            <img src="https://i.pravatar.cc/48?img=4" alt="avatar" />
            <div class="info">
              <h4>Chathura Priyashan</h4>
              <span>Cashier</span>
            </div>
          </div>

          <div class="staff-item">
            <img src="https://i.pravatar.cc/48?img=5" alt="avatar" />
            <div class="info">
              <h4>Chathura Priyashan</h4>
              <span>Cashier</span>
            </div>
          </div>

        </div>

        <div class="divider"></div>

      </div>

    </div>
  </div>
    
</body>
</html>