{header}
<body class="pharmacyDashboard">
    <input type="radio"  name="navigation" id="docs">
    <input type="radio"  name="navigation" id="orders">
    <input type="radio" name="navigation" id="chats">
    <input type="radio"  name="navigation" id="medicines">
    <input type="radio"  name="navigation" id="transactions">
    <input type="radio"  name="navigation" id="products">
    <input type="radio" checked name="navigation" id="staff">



    <nav class="nav">
        <a class="logo">
            <img src="/logo/logo.svg" alt="">
            <span>Pharmanet</span>
        </a>


        <ul class="nav_links">
            <li><label for="docs" >Docs</label></li>
            <li ><label for="orders" >orders</label></li>
            <li><label for="chats" >chats</label></li>
            <li><label for="medicines" >medicines</label></li>
            <li><label for="transactions" >transactions</label></li>
            <li><label for="products" >products</label></li>
            <li><label for="staff">staff</label></li>
            <li><label id="settings">Settings</label></li>
        </ul>
    </nav>

    <div class="header-container">

        <header class="header">
            <h1>Manage All Medicines</h1>
            <p> 
                Take charge of your medicine inventory with confidence.
                Easily add new items, manage stock in real time, and 
                keep your pharmacy running smoothly.
            </p>
        </header>
        
        <div class="quick_look">
            <div class="title">quick look</div>
        </div>
        
        
    </div>

    <div class="dashboards">

        <div class="docs container">



        </div>

        <div class="orders container">

            <div class="orderleft-side">

                <div class="L-side">
                    <div class="search-bar">
                        <input type="text" name="search-bar" class="search-bar__input" id="search-bar">
                    </div>

                    <div class="medicine_card_container">

                    </div>
                </div>
                
                <div class="right-btns">
                    <span>
                        <div class="search-btn">Search</div>
                        <div class="payment-btn">History</div>
                    </span>
                    
                </div>

            </div>



            <div class="order-right-side">
                <div class="order_summery">


                    <div class="order_summery__description">
                        <div class="total_sales">
                            <span class="total__sales__description__text">Total Sales</span>
                            <span class="total__sales__description__amount">Rs 0
                                <!-- <span><img src="/server/public/images/arrow-go-to-list.svg" alt="arrow" width="0.5rem"></span> -->
                            </span>
                        </div>

                        <div class="total_orders">
                            <span class="total__orders__description__text">Total Orders</span>
                            <span class="total__orders__description__amount">0
                                <!-- <span><img src="/server/public/images/arrow-go-to-list.svg" alt="arrow" width="0.5rem"></span> -->
                            </span>
                        </div>
                    </div>

                    
                </div>

                <div class="cart_summery_box">
                    <div class="quick_access_2">

                        <div class="cart_summery">
                            <div>
                                <img src="/images/Shopping-cart.svg" width="30rem" >
                                <span>Cart</span>
                            </div>
                            <h2 class="no_of_cart_items">0</h2>
                            
                        </div>


                        <div class="total_cart_summery">
                            <div>
                                <img src="/images/dollar-mark.svg" width="30rem">
                                <span>Total</span>
                            </div>
                            <h2>Rs <span class="amount_of_cart_items">0</span></h2>
                            
                        </div>


                        <div class="proceed_to_payment">
                            <div>
                                <span>Proceed To Payment</span>
                            </div>
                            <h2 class="pay_button">Pay →</h2>
                            
                        </div>

                    </div>


                    <div class="cart_list">
                    </div>

                </div>

                

            </div>



            <div class="payment-section-container">

            <div class="receipt-wrapper">
                <div class="receipt-header">
                    <span>Quick Look Of Receipt</span>
                    <button class="print-btn">Print</button>
                </div>

                <div class="receipt-card">
                    <div class="receipt-title">
                        <hr class="double-line">
                        <h3>Amaya Pharmacy Center</h3>
                        <small>ID 4323298989</small>
                        <hr class="double-line">
                    </div>


                   <table class="receipt-table">
                    
                    <tbody>
                        <tr>
                            <td>10.00 × AMPICILLIN SODIU...</td>
                            <td>for 3 Days</td>
                            <td>Rs</td>
                            <td>123.45</td>
                        </tr>
                        <tr>
                            <td>100.00 × FUSIDIC ACID 2%...</td>
                            <td>for 3 Days</td>
                            <td>Rs</td>
                            <td>123.45</td>
                        </tr>
                        <tr>
                            <td>5.00 × AMPICILLIN SODIU...</td>
                            <td>for 10 Days</td>
                            <td>Rs</td>
                            <td>123.45</td>
                        </tr>
                        <tr>
                            <td>1.25 × AMPICILLIN SODIU...</td>
                            <td>for 7 Days</td>
                            <td>Rs</td>
                            <td>123.45</td>
                        </tr>
                        <tr>
                            <td>10.00 × AMPICILLIN SODIU...</td>
                            <td>for 3 Days</td>
                            <td>Rs</td>
                            <td>123.45</td>
                        </tr>
                        <tr>
                            <td>100.00 × FUSIDIC ACID 2%...</td>
                            <td>for 3 Days</td>
                            <td>Rs</td>
                            <td>123.45</td>
                        </tr>
                    </tbody>
                </table>



                    <div class="total">
                        <span>Total Amount</span>
                        <span class="total-amount">Rs 2450.00</span>
                    </div>


                    <div class="payment">
                        <p>Payment method : Card</p>
                        <p>Card Number : ****3233</p>
                    </div>

                </div>
            </div>

            <div class="payment-section">
                <h1>Payment</h1>
                <h3>please fill customer details</h3>

                <form action="post">

                    <div class="first-row">
                        <div>
                            <label for="first-name" >First Name</label>
                            <input type="text" name="f-name">
                        </div>
                        <div>
                            <label for="Second-Name">Second Name</label>
                            <input type="text" name="s-name">
                        </div>
                    </div>

                    <div class="second-row">
                        <label for="address">Address</label>
                        <input type="text" name="address" id="address">
                    </div>

                    <div class="third-row">
                        <label for="phone-number">Mobile Number</label>
                        <input type="text" name="p-number" id="p-number">
                    </div>
                    
                    
                </form>

                <div class="select-payment-method">
                    <div class="title">Select payment method</div>
                    <div class="selection">
                        <div class="cash-btn">Cash <img src="/images/dollar-sign-02.svg" alt="" class="dollar-mark" ></div>
                        <div class="card-btn">Card <img src="/images/visa-master.svg" alt="" class="cash-pic"> </div>
                    </div>
                </div>

                <div class="footer-btn">
                    <div class="back-btn">Back</div>
                    <div class="create-order-btn">Create Order</div>
                </div>

            </div>
            </div>

        </div>


  <!--  <div class="chats container"> 

            <div class="left">
                <div class="chat-box">
                    
                    <div class="header-section">
                        <div class="customer-name">Chathura Priyashan</div>
                        <div class="discount">Discount</div>
                    </div>

                    <div class="body-section">
                        
                    </div>

                    <div class="footer-section">
                        <form class="type-bar-container" action="post">
                            <input type="text" placeholder="Type Here" class="type-msg">
                            <button><img src="/images/message-icon.svg" alt="message-icon"></button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="middle">
                <div class="cart">
                    <div class="header-section">
                        <div class="add-new-item-btn">Add New Item +</div>
                    </div>

                    <div class="body-section">
                        

                        <div class="medicine_card" >
                            <div class="medicine-card-header">
                                <div class="dosage-icon" >
                                
                                    <img width="60rem" src="/images/bottel_of_pills.svg">  

                                </div>


                                <div class="details">
                                    <div class="medicine__name">
                                        <div class="name">Name</div>
                                        AMPICILLIN SODIUM FOR INJECTION BP 250MG
                                    </div>
                                    <div class="medicine__info">
                                    
                                        <div class="medicine__info__price">
                                            <span>
                                                <div class="store-as__icon">
                                                    <img src="/images/price_tag.svg" width="20rem" >
                                                </div>
                                            </span>
                                            <span>price</span>
                                            <span class="price">
                                                <span>Rs<div class="price__value">1,234</div></span>
                                             
                                            </span>
                                        </div>
                                    </div>
                                
                                    
                                </div>

                                <div class="added-btn">
                                    Added +
                                </div>
                            </div>

                            <div class="medicine-card-footer">

                                <div class="card-footer unit">
                                    Units <span>20</span>
                                </div>

                                <div class="card-footer days">
                                    Days <span>20</span>
                                </div>

                                <div class="card-footer discount">
                                    Discounts (Rs) <span>20</span>
                                </div>
                            </div>
                        

                        </div>

                        <div class="medicine_card" >
                            <div class="medicine-card-header">
                                <div class="dosage-icon" >
                                
                                    <img width="60rem" src="/images/bottel_of_pills.svg">  

                                </div>


                                <div class="details">
                                    <div class="medicine__name">
                                        <div class="name">Name</div>
                                        AMPICILLIN SODIUM FOR INJECTION BP 250MG
                                    </div>
                                    <div class="medicine__info">
                                    
                                        <div class="medicine__info__price">
                                            <span>
                                                <div class="store-as__icon">
                                                    <img src="/images/price_tag.svg" width="20rem" >
                                                </div>
                                            </span>
                                            <span>price</span>
                                            <span class="price">
                                                <span>Rs<div class="price__value">1,234</div></span>
                                               
                                            </span>
                                        </div>
                                    </div>
                                
                                    
                                </div>

                                <div class="added-btn">
                                    Added +
                                </div>
                            </div>

                            <div class="medicine-card-footer">

                                <div class="card-footer unit">
                                    Units <span>20</span>
                                </div>

                                <div class="card-footer days">
                                    Days <span>20</span>
                                </div>

                                <div class="card-footer discount">
                                    Discounts (Rs) <span>20</span>
                                </div>
                            </div>
                        

                        </div>

                        

                        
                    </div>
                    <div class="footer-section">

                        <div class=" btn cancel-btn">Cancel</div>
                        <div class="btn create-order-btn">Create Order</div>
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="prescription">
                    <div class="request-prescription-btn">Request Prescription</div>
                </div>

                <div class="payment-details">
                    <h1>Payment Details</h1>
                    <div class="method">Method 
                        <span class="method-selector">Cash</span>

                    </div>
                    <div class="status">Status
                        <span class="status-selector">Pending</span>

                    </div>

                    <div class="request-payment-btn">Request Payment</div>
                </div>

                <div class="recipe-details">
                    <h1>Recipe Details</h1>
                    <div>
                        <span>Total</span>
                        <span>Rs<span class="total">1,345</span></span>
                    </div>
                    <div>
                        <span>Discounts</span>
                        <span>-Rs<span class="total">100</span></span>
                    </div>
                    <div>
                        <span>Loyality Dis</span>
                        <span>-Rs<span class="total">45</span></span>
                    </div>
                    <div class="final-price">
                        <span>Final Price</span>
                        <span>Rs<span class="total">1,200</span></span>
                    </div>

                    <div class="print-recipe">Print Recipe</div>
                    
                </div>
            </div>

        </div> -->


        <div class="chats container">

            <div class="waiting-list">
                <h1>Waiting List</h1>
                <h2>This is where people who waiting for contact your pharmacy</h2>


                <div class="msg-list">
                    <div class="msg">
                        <img src="/users/3.jpg" alt="">
                        <div class="name-section">
                            <span class="name">Chathura Priyashan</span><br>
                            <span class="distance">Distance 2.4 km</span>
                        </div>

                        <div class="view-section" >
                            <span><img src="/images/check-circle-02.svg" alt="" ></span>
                            <span >Medicine List</span>
                            <span class="view-btn"> View</span>
                        </div>
                        <div class=" btn decline-btn">Decline</div>
                        <div class=" btn accept-btn">Accept</div>
                    </div>

                    <div class="msg">
                        <img src="/users/1.jpg" alt="">
                        <div class="name-section">
                            <span class="name">Chathura Priyashan</span><br>
                            <span class="distance">Distance 2.4 km</span>
                        </div>

                        <div class="view-section" >
                            <span><img src="/images/check-circle-02.svg" alt="" ></span>
                            <span >Medicine List</span>
                            <span class="view-btn"> View</span>
                        </div>
                        <div class=" btn decline-btn">Decline</div>
                        <div class=" btn accept-btn">Accept</div>
                    </div>

                    <div class="msg">
                        <img src="/users/2.jpg" alt="">
                        <div class="name-section">
                            <span class="name">Chathura Priyashan</span><br>
                            <span class="distance">Distance 2.4 km</span>
                        </div>

                        <div class="view-section" >
                            <span><img src="/images/check-circle-02.svg" alt="" ></span>
                            <span >Medicine List</span>
                            <span class="view-btn"> View</span>
                        </div>
                        <div class=" btn decline-btn">Decline</div>
                        <div class=" btn accept-btn">Accept</div>
                    </div>


                    <div class="msg">
                        <img src="/users/3.jpg" alt="">
                        <div class="name-section">
                            <span class="name">Chathura Priyashan</span><br>
                            <span class="distance">Distance 2.4 km</span>
                        </div>

                        <div class="view-section" >
                            <span><img src="/images/check-circle-02.svg" alt="" ></span>
                            <span >Medicine List</span>
                            <span class="view-btn"> View</span>
                        </div>
                        <div class=" btn decline-btn">Decline</div>
                        <div class=" btn accept-btn">Accept</div>
                    </div>

                </div>


            </div>

            <div class="Instructions-section">
                <div class="title">Instructions</div>
                <h2>Instructions</h2>
                <p>if Medicine list available  ,  please check before medicine list you can fulfilled the customer requirements .if you can you can accept tha request. </p>
                <h2>what happened after accept ?</h2>
                <p>after accept , our system open chat box between you and customer. then you can discuss with customer and both parties are satisfied about order you can place order . whether you order place or not , after disconnect conversation . all conversation detail will be deleted within system</p>
            </div>
        </div>



        <div class="medicines container">

            <div class="action-bar">

                <div class="btn btn-add-new">
                    <span>
                        <span>add new</span>
                        <span>ctrl+n</span>
                    </span>
                    <span>+</span>
                </div>
                
                <div class="search-bar">
                    <input type="text" name="search-bar" class="search-bar__input" id="search-bar">
                    <label for="search-bar" class="search-bar__label">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <!-- Font Awesome Free 7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                            <path d="M480 272C480 317.9 465.1 360.3 440 394.7L566.6 521.4C579.1 533.9 579.1 554.2 566.6 566.7C554.1 579.2 533.8 579.2 521.3 566.7L394.7 440C360.3 465.1 317.9 480 272 480C157.1 480 64 386.9 64 272C64 157.1 157.1 64 272 64C386.9 64 480 157.1 480 272zM272 416C351.5 416 416 351.5 416 272C416 192.5 351.5 128 272 128C192.5 128 128 192.5 128 272C128 351.5 192.5 416 272 416z"/>
                        </svg>    
                    </label>
                    
                </div>
            </div>

            <div class="left-side medicine_cards_container">

                

            </div>


            <div class="right-side">
                <div class="medicine_summery">
                    <div class="medicine_summery__description">
                        <span class="medicine_summery__description__amount">4067</span>
                        <span class="medicine_summery__description__text">Medicines available at store</span>
                    </div>

                    <div class="horizontal_bar_chart">
                        <div class="chart__bars">
                            <div class="bar available"></div>
                            <div class="bar low_stock"></div>
                            <div class="bar out_of_stock"></div>
                        </div>

                        <div class="chart__labels">
                            <div class="label available">
                                <div class="dot"></div>
                                <div class="label__text ">
                                    <span class="amount">400</span>
                                    <span class="text">available</span>
                                </div>
                            </div>
                            <div class="label low_stock">
                                <div class="dot"></div>
                                <div class="label__text">
                                    <span class="amount">10</span>
                                    <span class="text">low stock</span>
                                </div>
                            </div>
                            <div class="label out_of_stock">
                                <div class="dot"></div>
                                <div class="label__text ">
                                    <span class="amount">40</span>
                                    <span class="text">out of stock</span>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <div class="quick_access">

                </div>

                <div class="bookmarks">
                    <div class="bookmarks__title">
                        <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 14.95L7 12.8L12 14.95V2H2V14.95ZM0 18V2C0 1.45 0.196 0.979 0.588 0.587C0.979333 0.195667 1.45 0 2 0H12C12.55 0 13.021 0.195667 13.413 0.587C13.8043 0.979 14 1.45 14 2V18L7 15L0 18Z" fill="black"/>
                        </svg>
                        <span>Bookmarks</span>

                    </div>
                    <div class="bookmarks__content"></div>
                </div>

            </div>


        </div>

        {transactionsView}



        <div class="products container product_container">
            <div class="left-side">

                <div class="btn btn-add-new">
                    <span>
                        <span>add new</span>
                        <span>ctrl+n</span>
                    </span>
                    <span>+</span>
                </div>


                <div class="quick-looks">
                    <div class="title-section">
                        <div class="small-title">Track in One Place</div>
                        <div class="title">Manage Over <span class="amount-of-products">1,234</span>Products</div>
                    </div>
                        <div class="tab available">
                            <span>Available</span>
                            <span class="line green-line"></span>
                            <span class="amount-of-available">3,456</span>
                        </div>
                        <div class="tab low-stock">
                            <span>Low Stock</span>
                            <span class="line yellow-line"></span>
                            <span class="amount-of-low-stock">1,234</span>
                        </div>
                        <div class="tab out-of-stock">
                            <span>Out of Stock</span>
                            <span class="line red-line"></span>
                            <span class="amount-of-out-of-stock">54</span>
                        </div>
                </div>

                <div class="analitics-section">
                    <div class="small-title">Analyse Stock</div>
                    <div class="title">Look Products Graph View</div>

                    <div class="graph-section">
                        <div class="graph graph1"></div>
                        <div class="graph graph2"></div>
                        <div class="graph graph3"></div>
                    </div>
                </div>

                <div class="summery">
                    <div class="small-title">Summery and Documents </div>
                    <div class="title">Documents & Reports</div>
                    <div class="title2">
                        <span>Product Stock Report</span>
                        <span class="download-btn">Download</span>
                    </div>
                </div>

                <div class="pagination">
                    <div class="page active">1</div>
                    <div class="page">2</div>
                    <div class="page">3</div>
                    <div class="page">4</div>
                    <div class="page">5</div>
                    <div class="page next">→</div>
                </div>

                                

            </div>

            <div class="right-side">

                <div class="top_bar">
                    
                    <div class="search_bar">
                        <div class="search-bar">
                        <input type="text" name="search-bar" class="search-bar__input" id="search-bar">
                        <label for="search-bar" class="search-bar__label">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <!-- Font Awesome Free 7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                <path d="M480 272C480 317.9 465.1 360.3 440 394.7L566.6 521.4C579.1 533.9 579.1 554.2 566.6 566.7C554.1 579.2 533.8 579.2 521.3 566.7L394.7 440C360.3 465.1 317.9 480 272 480C157.1 480 64 386.9 64 272C64 157.1 157.1 64 272 64C386.9 64 480 157.1 480 272zM272 416C351.5 416 416 351.5 416 272C416 192.5 351.5 128 272 128C192.5 128 128 192.5 128 272C128 351.5 192.5 416 272 416z"/>
                            </svg>    
                        </label>
                        
                        </div>
                    </div>
                    <div class="view-toggle">
                        <div class="toggle-btn list-active">
                            <img src="/images/list-active.svg" width="50rem">
                        </div>
                        <div class="toggle-btn grid">
                            <img src="/images/grid-active.svg" width="20rem">
                        </div>
                    </div>

                   
                </div>

                <div class="product-list">

                     <div class="medicine_card" data-id="{id}">
                        <div class="dosage-icon {type}" >
                            
                            <img width="60rem" src="/images/bottel_of_pills.svg">  

                        </div>


                        <div class="details">
                            <div class="medicine__name">
                                <div class="name">Name</div>
                                AMPICILLIN SODIUM FOR INJECTION BP 250MG
                            </div>
                            <div class="medicine__info">
                               
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                    </span>
                                    <span>price</span>
                                    <span class="price">
                                        <div class="price__value">rs. 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                            <div class="results">
                                <span>
                                    <div class="map-serach">
                                        <img src="/images/world.svg" width="20rem">
                                        <span class="map__search">
                                            <div class="map__search__value">2,453</div>
                                        </span>
                                    </div>
                                    <!-- <div class="lock_result">
                                        <img src="/images/lock.svg" width="20rem">
                                        <span>
                                            <div class="lock__result__value">150</div>
                                        </span>
                                    </div> -->
                                </span>
                            </div>
                        </div>
                        

                    </div>


                    <div class="medicine_card" data-id="{id}">
                        <div class="dosage-icon {type}" >
                            
                            <img width="60rem"    src="/images/bottel_of_pills.svg">  

                        </div>


                        <div class="details">
                            <div class="medicine__name">
                                <div class="name">Name</div>
                                AMPICILLIN SODIUM FOR INJECTION BP 250MG
                            </div>
                            <div class="medicine__info">
                               
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                    </span>
                                    <span>price</span>
                                    <span class="price">
                                        <div class="price__value">rs. 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                            <div class="results">
                                <span>
                                    <div class="map-serach">
                                        <img src="/images/world.svg" width="20rem">
                                        <span class="map__search">
                                            <div class="map__search__value">2,453</div>
                                        </span>
                                    </div>
                                    <div class="lock_result">
                                        <img src="/images/lock.svg" width="20rem">
                                        <span>
                                            <div class="lock__result__value">150</div>
                                        </span>
                                    </div>
                                </span>
                            </div>
                        </div>
                        

                    </div>


                    <div class="medicine_card" data-id="{id}">
                        <div class="dosage-icon {type}" >
                            
                            <img width="60rem"    src="/images/bottel_of_pills.svg">  

                        </div>


                        <div class="details">
                            <div class="medicine__name">
                                <div class="name">Name</div>
                                AMPICILLIN SODIUM FOR INJECTION BP 250MG
                            </div>
                            <div class="medicine__info">
                               
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                    </span>
                                    <span>price</span>
                                    <span class="price">
                                        <div class="price__value">rs. 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                            <div class="results">
                                <span>
                                    <div class="map-serach">
                                        <img src="/images/world.svg" width="20rem">
                                        <span class="map__search">
                                            <div class="map__search__value">2,453</div>
                                        </span>
                                    </div>
                                    <div class="lock_result">
                                        <img src="/images/lock.svg" width="20rem">
                                        <span>
                                            <div class="lock__result__value">150</div>
                                        </span>
                                    </div>
                                </span>
                            </div>
                        </div>
                        

                    </div>


                    <div class="medicine_card" data-id="{id}">
                        <div class="dosage-icon {type}" >
                            
                            <img width="60rem"    src="/images/bottel_of_pills.svg">  

                        </div>


                        <div class="details">
                            <div class="medicine__name">
                                <div class="name">Name</div>
                                AMPICILLIN SODIUM FOR INJECTION BP 250MG
                            </div>
                            <div class="medicine__info">
                               
                                <div class="medicine__info__price">
                                    <span>
                                        <div class="store-as__icon">
                                            <img src="/images/price_tag.svg" width="20rem" >
                                        </div>
                                    </span>
                                    <span>price</span>
                                    <span class="price">
                                        <div class="price__value">rs. 150.00</div>
                                        <!-- <span class="price__identifier">(average)</span> -->
                                    </span>
                                </div>
                            </div>
                            <div class="results">
                                <span>
                                    <div class="map-serach">
                                        <img src="/images/world.svg" width="20rem">
                                        <span class="map__search">
                                            <div class="map__search__value">2,453</div>
                                        </span>
                                    </div>
                                    <div class="lock_result">
                                        <img src="/images/lock.svg" width="20rem">
                                        <span>
                                            <div class="lock__result__value">150</div>
                                        </span>
                                    </div>
                                </span>
                            </div>
                        </div>
                        

                    </div>

                </div>

            </div>


        </div>




    <div class="staff container">
        {staffView}
    </div>
</html>