<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PharmaNet Registration</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body  class="addPharmarcy02">

  <div class="registration-container">
    <header>
      <img class="logopic" src="/logo/logo.svg" alt="logo">
      <h1>PharmaNet</h1>
      <p>Register your pharmacy to get started</p>
    </header>

    <div class="steps">
      <div class="step">
        <div class="circle">1</div>
        <span>Pharmacy Details</span>
      </div>
      <div class="step  active">
        <div class="circle">2</div>
        <span>Owner Information</span>
      </div>
      <div class="step">
        <div class="circle">3</div>
        <span>Location</span>
      </div>
      <div class="step">
        <div class="circle">4</div>
        <span>Pharmacist & Services</span>
      </div>
    </div>

    <div class="form-card">
      <div class="card-header">
        <i class="fa-solid fa-building-columns"></i>
        <span>Owner Information</span>
        <p>Provide owner contact information</p>
      </div>

      <form id="form">
        <div class="form-row">
          <label>Owner Name *</label>
          <input type="text" placeholder="Enter owner name" name="owner" required>
        </div>

        <div class="form-row two-cols">
          <div>
            <label>Email Address*</label>
            <input type="text" placeholder="e.g. owner@pharmarcy.com" name="email" required>
          </div>
          <div>
            <label>Phone Number *</label>
            <input type="telephoneNo." name="number" placeholder="+94 78 141 3123" required>
          </div>
        </div>

        <div class="form-buttons">
          <a href="/admin/pharmacy/create">
         <button type="button" class="btn prev btn-previous">Previous</button></a>
          <button  type="button" class="btn next btn-next">Next</button></a>
        </div>
      </form>
    </div>

    <footer>
      Need help? <a href="#">Contact support</a>
    </footer>
  </div>

  <script>
    const form = document.getElementById('form');
    const btn_next = document.querySelector('.btn-next');

    const data = {}
    btn_next.addEventListener('click' , (e)=>{
      e.preventDefault();
      const formData = new FormData(form);

      for( const [key , value] of formData.entries()){
        
        if(!value){
          document.querySelector(`input[name=${key}]`).classList.add('utility-warn');
          document.querySelector(`input[name="${key}"]`).classList.remove('utility-success');
          console.log(document.querySelector(`input[name=${key}]`));
          return;
        }else{
          document.querySelector(`input[name="${key}"]`).classList.add('utility-success')
          document.querySelector(`input[name="${key}"]`).classList.remove('utility-warn')
        }
        data[key] = value;
      }
      
      //save to storage
      const previous = JSON.parse(localStorage.getItem('pharmacy'));
      if(!previous) window.location.href = "/admin/pharmacy/step/2";
      localStorage.setItem("pharmacy" , JSON.stringify({...previous , ...data }));

      window.location.href = "/admin/pharmacy/step/3"
      
    })
    


  </script>


</body>
</html>
