<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PharmaNet Registration</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body  class="addPharmarcy04">

  <div class="registration-container">
    <header>
      <img class="logopic" src="/public/logo/logo.svg" alt="logo">
      <h1>PharmaNet</h1>
      <p>Register your pharmacy to get started</p>
    </header>

    <div class="steps">
      <div class="step">
        <div class="circle">1</div>
        <span>Pharmacy Details</span>
      </div>
      <div class="step">
        <div class="circle">2</div>
        <span>Owner Information</span>
      </div>
      <div class="step">
        <div class="circle">3</div>
        <span>Location</span>
      </div>
      <div class="step active">
        <div class="circle">4</div>
        <span>Pharmacist & Services</span>
      </div>
    </div>

    <div class="form-card">
      <div class="card-header">
        <i class="fa-solid fa-building-columns"></i>
        <span>Pharmacist & Services</span>
        <p>Add pharmacist details and service information</p>
      </div>

      <form>
        <div class="form-row">
          <label>Head Pharmacist Name *</label>
          <input type="text" placeholder="Enter pharmacist name" required>
        </div>

        <div class="form-row">
          <label>Pharmacist License Number *</label>
          <input type="text" placeholder="Eg: RPH-2024-001" required>
        </div>

        <div class="form-row">
          <label>Primary Service Type *</label>
          <select required>
            <option>Select service type</option>
            <option>Retail Pharamarcy</option>
            <option>Hospital Pharamarcy</option>
            <option>Clinical Pharamrcy</option>
            <option>Mail Pharamrcy</option>
          </select>
        </div>

        <div class="form-buttons">
         <a href="addPharmarcy03.html"><button type="button" class="btn prev">Previous</button></a>
          <a href="addPharmarcy03.html"><button type="button" class="btn submit">Submit</button></a>
        </div>
      </form>
    </div>

    <footer>
      Need help? <a href="#">Contact support</a>
    </footer>
  </div>

</body>
</html>
