   <!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./../css/style.css">
      <title>Document</title>
   </head>
   <body>
      <div class="sidebar">
      <ul class="menu">
      <a href="/admin/{id}" >Dashboard</a>
      <a href="/admin/{id}/pharmacies">Pharmacies</a>
      <a href="/admin/{id}/medicines">Medicines</a>
      <a href="/admin/{id}/users">Users</a>
      <a href="/admin/{id}/blogs/manage">Blogs</a>
      <!-- <a href="">Analytics</a> -->
      <!-- <a href="/admin/{id}/assets">Data Assets</a> -->
      </div>
      <!-- <div class="menuItem">
        <button class="text setting"> Settings</button>
        <button class="text signOut"> Sign Out</button>
    </div> -->
    </ul>
   </body>
   </html>
   
