.utility-hidden{
    transform: translateY(10rem);
    opacity: 0;
}

.utility-transition{
    transition: all .8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.utility-error{
    color:rgb(255, 83, 83);
}

.utility-warn{
    animation: warn 4s ease forwards;
    background-image: linear-gradient(120deg, white, #ffc3c3, white);
    background-size: 200%;
    background-repeat: no-repeat;
    outline: 1px solid red;
    background-position-x: 0% ;
}

@keyframes warn{
    100%{
        background-position-x: 200% ;
        outline: red 1px solid;

    }
}

.utility-success{
    animation: success 4s ease forwards;
    background-image: linear-gradient(120deg, white, #c4ffb8, white);
    background-size: 200%;
    background-repeat: no-repeat;
    outline: 1px solid green;
    background-position-x: 0% ;
}
@keyframes success{
    100%{
        background-position-x: 200% ;

    }
}