<div class="cart_item">
    <div class="content">
        <img src="/medicines/general-med.png" alt="">
        <div class="description">
            <h4>
                <div>Name</div>
                <div>AMPICILLIN SODIUM FOR INJECTION BP 250MG</div>
            
            </h4>
            <div class="price">
                <div class="label">
                    <img src="/cart/tag.svg" alt="🏷️">
                    price
                </div>
                <div class="amount">1,234</div>
            </div>

        </div>
    </div>


    <div class="action-box select">
        <div class="select">
            <input type="checkbox" id="select-id" checked  name="id">
            <label class="text" for="select-id">select</label>
        </div>


        <div class="remove">
            <input type="checkbox" id="remove-id" checked >
            <label class="text" for="remove-id">
                <img src="/cart/remove.svg" alt="X">
                remove
                
            </label>
        </div>

        <div class="available">
            <input type="checkbox" id="available-id" checked >
            <label class="text" for="available-id">
                <img src="/cart/available.svg" alt="X">
                available
                
            </label>
        </div>

        <div class="added">
            <input type="checkbox" id="added-id" checked >
            <label class="text" for="added-id">
                <img src="/cart/added.svg" alt="X">
                added
                
            </label>
        </div>
        
    </div>

</div>


