<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/logo/favicon.png" type="image/png">
    <link rel="icon" href="/logo/favicon.svg" type="image/svg+xml">
    <link rel="alternate icon" href="/logo/favicon.png" type="image/png">
    <title>Pharmanet : not found</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body{
            line-height: 1;
            text-transform: capitalize;
        }


        h1{
            text-align: center;
            font-size: 36rem;
            color:var(--color-green-01);
        }

        h2{
            text-align: center;
            font-size: 28rem;
            color : var(--color-green-02);
        }
    </style>

</head>
<body >
    <h1>404</h1>
    <h2>not found</h2>
</body>
</html>