<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Add Medicine</title>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body class="AddMedi">

    <!--header section-->
  <header class="top-bar">
    <nav>
        <div class="logo">
            <img class="logopic" src="/logo/logo.svg" alt="logo">
            <p class="logoname">PharmaNet</p>
        </div>

        <div id="toggle-placeholder"></div>


    </nav>
  </header>

    <div class="container">
        <!-- Medicine Details Form -->
        <div class="medicine-details">
            <h2>Medicine Details</h2>
            <form action="/medicine/" class="medicine-create-form" method="POST">
                <div class="col">
                    <label class="required">Medicine Name</label>
                    <input type="text" name="geneticName" placeholder="Enter medicine name" required>
                </div>
                

                <div class="row">
                    <div class="col">
                        <label class="required">Category</label>
                        <select name="categoryId">
                            {categories}
                        </select>
                    </div>
                    <div class="col">
                        <label>Type</label>
                        <select name="typeId" >
                            {types}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="required">Price ($)</label>
                        <input type="number" name="price" min="0" required>
                    </div>
                    <div class="col">
                        <label class="required">Dosage code ($)</label>
                        <input type="text" name="dosageCode"  placeholder="xxxxxx" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="required">Manufacturer</label>
                        <input type="text" name="manufacturer" value="1234" placeholder="Enter manufacturer name" required>
                    </div>
                    <div class="col">
                        <label>Country code</label>
                        <input type="text" name="countryCode" placeholder="india">
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col">
                        <label class="required">SerialNumber</label>
                        <input type="text" name="serialNumber" required>
                    </div>
                    <div class="col">
                        <label class="required">RegistrationNumber</label>
                        <input type="text" name="registrationNo" placeholder=" #XXXXXXXXXX" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="required">Schedule</label>
                        <input type="text" name="schedule" value="II" required>
                    </div>
                </div>
                <!-- <div class="col">
                    <label>Description</label>
                    <textarea placeholder="Enter medicine description" name="description"></textarea>
                </div> -->
                

                <button type="submit" class="medicine-create-btn">+ Add Medicine</button>
            </form>
        </div>

        <!-- Medicine Inventory -->
        <div class="medicine-inventory">
            <div class="inventory-header">
                <span>Medicine Inventory</span>
                <input type="text" class="searchBar" placeholder="Search medicines">
                <select>
                    <option>All Categories</option>
                </select>
            </div>
            <div class="inventory-body">
                {medicines}
            </div>
        </div>
    </div>


    <script type="module" src="/js/controller/admin/admin.medicine.client.controller.js"></script>
</body>
</html>

  