<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/logo/favicon.png" type="image/png">
    <link rel="icon" href="/logo/favicon.svg" type="image/svg+xml">
    <link rel="alternate icon" href="/logo/favicon.png" type="image/png">
    <!-- <script defer src="/js/view/Notify.js" ></script> -->
    <!-- <script defer type="module" src="/js/utilities/Popup.js"></script> -->
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.26.3/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.26.3/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <script type="module" defer src="/js/controller/{controller}.controller.js"></script> -->
    <title>Pharmanet || {name}</title>
</head>