<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Pharmanet || Find Medicine Easily
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="landing">

    <!--nav bar for all page-->
    <header>
    {navbar}
        

    </header>

        <div class="container">
            <div class="header-content">
                <h1 class="header-title">Smarter Access to Pharmacies and <br> Medicines. <span class="highlight">Anytime</span>. <span class="highlight">Anywhere</span>.</h1>
                <div class="header-discription">Easily search for nearby pharmacies, check medicine availability, and <br>get the care you need - all in one place.
                    <div class="header-background"></div>
                    <div class="fb-call-msg">
                        <img src="/images/fb-call-msg.svg" alt="fb-call-msg">
                    </div>
                
                    <div class="pills">
                        <img src="/logo/pils.svg" alt="pills">
                    </div>
                        
                    <div class="pillBW">
                        <img src="/logo/pillBW.svg" alt="pillBW">
                    </div>

                    <div class="pillwhite">
                        <img src="/logo/pillwhite.svg" alt="pillwhite">
                    </div>

                    <div class="pillblue"> 
                        <img src="/logo/pillblue.svg" alt="pillblue">
                    </div>

                    <div class="side-words">
                        <p>Healthcare   |    Ecosystem</p>
                    </div>
     
                    <div class="upload-container">
                            <input type="file,jpg,png,svg" id="fileUpload" hidden/>
                            <lable for="fileUpload" class="upload-box">
                                <div class="icon"><img src="/images/upload.svg" alt="upload prescription"></div>
                                <p>Upload<br>Prescription</p>
                            </lable>
                    </div>
                </div>
            </div>
        </div>

<!-- Advantages Section -->
        <section class="advantages-section">
            <div class="container">
            <div class="section-title">
                <h3 class="section-first-title">The magic behind what we do</h3>
                <p class="section-second-title">Our Features</p>
            </div>

            <div class="advantages-grid">
                <div class="advantage-card">
                    <h3 class="advantage-title"><img src="/images/lock.svg" alt="end-to-encript">End-to-End Privacy</h3>
                    <p class="advantage-disc">From the moment you connect to the moment you log out, your data is encrypted, secure, and invisible to everyone but you. No middlemen, no leaks — just total control over your information.</p>
                </div>

                <div class="advantage-card">
                    <h3 class="advantage-title"><img src="/images/database.svg">Discover Medicines</h3>
                    <p class="advantage-disc">Effortlessly explore a wide range of medicines with accurate details, availability, and alternatives — all in one place, just a tap away.</p>
                </div>

                <div class="advantage-card">
                    <h3 class="advantage-title"><img src="/images/Location city.svg">Connect with Pharmacies</h3>
                    <p class="advantage-disc">Easily reach out to nearby or trusted pharmacies for inquiries, orders, or support — all within one seamless platform.</p>
                </div>
            </div>
            
            <h1 class="mid-title">
                You will find any medicine here
            </h1>
            </div>

            <div class="stats-container">
                    
                    <div class="stat-orange">
                        <div class="arc"></div>
                        <div class="text-wrapper">
                        <div class="progress-text">
                            <div class="value">5,879</div>
                            <div class="label">NMRA Registered<br />Medicines</div>
                        </div>
                        </div>
                    </div>

                    <div class="section-title">
                        <div class="lock-icon">
                            <img src="/images/lockicon.svg"></img>
                        </div>
                        <h3 class="section-first-title">What we provide</h3>
                        <p class="section-second-title">why should you trust us?</p>
                    </div>
                    
                    <div class="stat-blue">
                        <div class="arc"></div>
                        <div class="text-wrapper">
                        <div class="progress-text">
                            <div class="value">1,234</div>
                            <div class="label">Verified Pharmacies</div>
                        </div>
                        </div>
                    </div>
      
            </div>
        </section>
    

<!-- Top Pharmacies Section -->
    <section class="top-pharmacy">
        <div class="container">
            <div class="section-title">
                <h3 class="section-first-title">Top rated pharmacies</h3>
                <p class="section-second-title">choose from the best in customer service</p>
            </div>

            <div class="pharmacies-grid">
                <div class="pharmacy-card">
                    <img src="/pharmacy picture/hedeniyapharmacy.jpg" alt="Hedeniya Pharmacy" class="pharmacy-img">
                    <div class="pharmacy-info">
                        <h3 class="pharmacy-name">Hedeniya Pharmacy</h3>
                        <div class="pharmacy-rating">
                            <img src="/images/Star.svg">
                            <img src="/images/Star.svg">
                            <img src="/images/Star.svg">
                            <img src="/images/Star.svg">
                            <img src="/images/Star.svg">
                            <span>4.9</span>
                        </div>
                        <p class="pharmacy-address">Kurunegala road, Hedeniya</p>
                    </div>
                </div>

                <div class="pharmacy-card">
                    <img src="/pharmacy picture/Sunshine-Healthguard-1-11.jpg" alt="Healthguard Pharmacy" class="pharmacy-img">
                    <div class="pharmacy-info">
                        <h3 class="pharmacy-name">Healthguard Pharmacy</h3>
                        <div class="pharmacy-rating">
                            <img src="/images/Star.svg">
                            <img src="/images/Star.svg">
                            <img src="/images/Star.svg">
                            <img src="/images/Star.svg">
                            <img src="/images/Star.svg">
                            <span>4.9</span>
                        </div>
                        <p class="pharmacy-address">Kuliyapitiya</p>
                    </div>
                </div>

                <div class="pharmacy-card">
                    <img src="/pharmacy picture/lankapharmacy.jpg" alt="Lanka Pharmacy" class="pharmacy-img">
                    <div class="pharmacy-info">
                        <h3 class="pharmacy-name">Lanka Pharmacy</h3>
                        <div class="pharmacy-rating">
                          <img src="/images/Star.svg">
                            <img src="/images/Star.svg">
                            <img src="/images/Star.svg">
                            <img src="/images/Star.svg">
                            <img src="/images/Star.svg">
                            <span>4.8</span>
                        </div>
                        <p class="pharmacy-address">Kandy road, Kiribithgoda</p>
                    </div>
                </div>

                <div class="pharmacy-card">
                    <img src="/pharmacy picture/NethunPharmacy.jpg" alt="Nethun Pharmacy" class="pharmacy-img">
                    <div class="pharmacy-info">
                        <h3 class="pharmacy-name">Nethun Pharmacy</h3>
                        <div class="pharmacy-rating">
                            <img src="/images/Star.svg">
                            <img src="/images/Star.svg">
                            <img src="/images/Star.svg">
                            <img src="/images/Star.svg">
                            <img src="/images/Star.svg">
                            <span>4.9</span>
                        </div>
                        <p class="pharmacy-address">Peradeniya road, Kandy</p>
                    </div>
                </div>

            </div>

       </div>         
    </section>

<!-- Regidtrstion Section -->

    <div class="joinus">
        <h1 class="header-title">Join to Us !</h1>
        <p class="header-discription">Become a Partner Pharmacy</p>
        <div class="button-group">
            <a href="/contact-us.html" class="btn demo">
                Request a Demo <span class="icon"><img src=""></span>
            </a>
            <a href="/pharmacy/register-pharmacy.html" class="btn reg">
                Register as Pharmacy<span class="icon"><img src=""></span>
            </a>
        </div>
    </div>

    <!-- footer Section -->

    <section class="footer">
        <div class="main">

             <div class="logo">
                <img class="logopic" src="/logo/logo.svg" alt="logo">
                <p class="logoname">PharmaNet</p>
            </div>

            <div class="site-map">
                <h4 class="foot-title">Site Map</h4>
                <ul>
                    <li><a href="#">Search Medicines</a></li>
                    <li><a href="#">Search Pharmacies</a></li>
                    <li><a href="#">Register Pharmacies</a></li>
                    <li><a href="#">Top Rated Pharmacies</a></li>
                </ul>
            </div>

            <div class="footer-discription">
                <h4 class="foot-title">Description</h4>
                <p>This is created for university 2nd year<br>learning project by chathura priyashan , <br>kasun nirmal , chamani niroshani , <br>noorul hamdha</p>
            </div>

        </div>
        <div class="bottom">
            <nav class="footerlinks">
                <span>Alright Reserved ©Pharmanet 2025</span>
                <a href="#">About</a>
                <a href="#">Contacts</a>
                <a href="#">Linked in</a>
                <a href="#">Facebook</a>
                <a href="#">Teams & Conditions</a>
            </nav>
        </div>
    </section>

    <script type="module" src="/js/controller/controller.js"></script>
</body>
</html>