          <a href="/pharmacy/staff?view=details&uid=%%UID%%" class="member" data-user="%%UID%%" data-roleid="%%RID%%">
            <div>
              <img src="/public/users/1.jpg" alt="user">
              <div>
                <div class="member_name">%%FIRST_NAME%% %%LAST_NAME%%</div>
                <div class="role">%%ROLE%%</div>
              </div>
            </div>


              <div class="check-in">
                <!-- <button>check-in</button> -->
                <!-- <time datetime="5.00 a.m"></time> -->
              </div>

        </a>