<nav style="width: 100%; max-width: 114rem; margin: 0 auto;">
        <a href="/" class="logo">
            <img class="logopic" src="/logo/logo.svg" alt="logo">
            <p class="logoname">PharmaNet</p>
        </a>

    
                <div style="max-width: 30rem; justify-content: space-between; display: flex; width: 100%; ">

                    <div><a style="color:black" href="/pharmacies/{pharmacyId}/owners/{ownerId}">medicine</a></div>
                    <div><a style="color:black" href="/pharmacies/{pharmacyId}/owners/{ownerId}/products" >products</a></div>
                    <div><a style="color:black" href="/pharmacies/{pharmacyId}/owners/{ownerId}/staff">staff</a></div>
                </div>
                    
        </div>

        <div id="toggle-placeholder"></div>

        <div class="profile">
            <div class="profileName">
                <a href="">{name}</a>
                <div class="welcome">Welcome</div>
            </div>
            
            <!-- <div class="profilePic"><a href="/customers"><img src="/users/{chamani}.jpg"></a> -->
            </div>
        </div>        

    </nav>