{header}

<body class="verify_email">
    <header>
        <nav>
            <div class="logo">
                <img class="logopic" src="/logo/logo.svg" alt="logo">
                <p class="logoname">PharmaNet</p>
            </div>

        </nav>
    </header>
    <main class="wrapper">
        <div class="verify-email-container">
            <p class="title">Reset Password</p>
            <p class="discription">now you can change your password</p>
            <p class="second-title">new Password</p>
            <input type="text" id="password" placeholder="*******">
            <p class="second-title">Confirm Password</p>
            <input type="text" id="confirm-password" placeholder="*******">
            <div id="feedbackPassword"></div>
            <button class="verify-button">Verify <img src=""></button>
            <!-- <a href="" class="change-email">Need to change email ?</a> -->
        </div>
    </main>
    <!-- <script type="module" src="/js/controller/controller.js"></script> -->


    <script>
        try {
            document.querySelector('.verify-button').addEventListener('click', () => {
                const input = document.querySelector('#password')
                const confirm = document.querySelector("#confirm-password");

                if (!input.value) {
                    input.classList.add('utility-warn');
                    input.classList.remove('utility-success')
                    return;
                } else {
                    input.classList.remove('utility-warn');
                    input.classList.add('utility-success');
                }
                if (!confirm.value) {
                    confirm.classList.add('utility-warn');
                    confirm.classList.remove('utility-success')
                    return;
                } else {
                    confirm.classList.remove('utility-warn');
                    confirm.classList.add('utility-success')
                }


                // Password validation
                const confirmPassword = document.getElementById('confirm-password');
                const value = confirmPassword.value;
                if (value.length < 8) {
                    confirmPassword.classList.remove('utility-success');
                    confirmPassword.classList.add('utility-warn');
                    document.getElementById('feedbackPassword').textContent = 'Password must be at least 8 characters long.';
                    return;
                } else {
                    confirmPassword.classList.add('utility-success');
                    confirmPassword.classList.remove('utility-warn');
                    document.getElementById('feedbackPassword').textContent = '';
                }

                // Confirm Password validation
                const inputPassword = document.getElementById('password')
                const password = inputPassword.value;
                console.log(password, value);

                if (value.length < 8) {
                    inputPassword.classList.remove('utility-success');
                    inputPassword.classList.add('utility-warn');
                    document.getElementById('feedbackPassword').textContent = 'Password must be at least 8 characters long.';
                    return;
                } else if (value !== password) {
                    inputPassword.classList.remove('utility-success');
                    inputPassword.classList.add('utility-warn');
                    document.getElementById('feedbackPassword').textContent = 'Passwords do not match.';
                    return;
                } else {
                    inputPassword.classList.add('utility-success');
                    inputPassword.classList.remove('utility-warn');
                    document.getElementById('feedbackPassword').textContent = '';
                }






                fetch("/accounts/{id}/reset/password", {
                    method: "POST",
                    body: JSON.stringify({
                        password: input.value,
                    })
                }).then(data => data.json()).then(data => {
                    if (data.status == "success") {
                        Swal?.fire({
                            icon: "success",
                            title: "Password Changed",
                        }).then(() => {

                            switch ("{role}") {
                                case "customer":
                                    window.location.href = "/customers/{id}"
                                    return;
                                case "admin":
                                    window.location.href = "/admin/{id}"
                                    return;
                                case "pharmacist":
                                    window.location.href = "/pharmacies/{pharmacyId}/staff/{staffId}";
                                    return;
                                case "cashier":
                                    window.location.href = "/pharmacies/{pharmacyId}/staff/{staffId}";
                                    return;
                                case "stockmanager":
                                    window.location.href = "/pharmacies/{pharmacyId}/staff/{staffId}";
                                    return;
                                default:
                                    window.location.href = "/login";
                            }
                        })
                    } else {
                        Swal?.fire({
                            icon: "error",
                            title: data.message || "Password cannot change",
                            body: "retry"
                        })
                    }
                }).catch(e => {
                    console.log(e);
                    Swal?.fire({
                        status: "error",
                        title: "Internal server error",
                        body: "try after some time!"
                    })
                })
            })

        } catch (e) {
            console.log(e);
            Swal?.fire({
                status: "error",
                title: "Internal server error",
                body: e.message,
            })
        }


    </script>
    {footer}

</body>

</html>