<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Mobile Number</title>
        <link rel="shortcut icon" href="/logo/favicon.png" type="image/png">
    <link rel="icon" href="/logo/favicon.svg" type="image/svg+xml">
    <link rel="alternate icon" href="/logo/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="verify_number">
    <header>
        <nav>
        <div class="logo">
            <img class="logopic" src="/logo/logo.svg" alt="logo">
            <p class="logoname">PharmaNet</p>
        </div>
        </nav>
    </header>

    <main class="wrapper">
    <div class="verify-mobile-number-container">
        <p class="title">Verify Mobile Number</p>
        <p class="discription">We have sent a verification code to +94 1234 5678. Please check your inbox.</p>
        <p class="second-title">Verification Code</p>
        <input type="text" id="phone-number" maxlength="11" placeholder="XXXXXXXXXXX">
        <button class="verify-button">Verify <img src=""></button>
        <a href="#" class="change-phone-number">Need to change Phone Number ?</a>
    </div>
    </main>

</body>
</html>