<div class="medicine-inventory">
            <div class="inventory-header">
                <span>Medicine Inventory</span>
                <input type="text" class="searchBar" placeholder="Search medicines">
                <select>
                    <option>All Categories</option>
                </select>
            </div>
            <div class="inventory-body">
                <div class="medicine-card">
                    <div class="col">
                        <label id="title">%%MEDICINE-NAME%%</label>
                    </div>
                    <div class="col">
                        <label id="title">Category:</label> 
                        <label>%%CATEGORY%%</label> 
                    </div>
                    <div class="col">
                        <label id="title">Type:</label>
                        <label>%%TYPE%%</label>  
                    </div>
                    <div class="col">
                        <label id="title">Price:</label> 
                        <label>%%PRICE%%</label>
                    </div>
                    <div class="col">
                        <label id="title">Stock:</label>
                        <label>%%STOCK%%</label>
                    </div>
                    <div class="col">
                        <label id="title">Manufacturer:</label>
                         <label>%%MANUFACTURE%%</label>
                    </div>
                    <div class="col">
                        <label id="title">Expiry:</label>
                        <label>%%DATE%%</label> 
                    </div>
                    <div class="actions">
                        <button class="update-btn">Update</button>
                        <button class="delete-btn">Delete</button>
                    </div>
                </div>

            
            </div>
        </div>