@media print {
  @page {
    size: A4;
    margin: 2rem;
  }

  .transaction_table_container,
  .transaction_table_container * {
    visibility: visible;
  }

  .transaction_table_container {
    position: static;
    width: 100%;
  }

  .transaction_table_wrapper {
    height: auto !important;
    max-height: none !important;
    overflow: visible !important;
  }

  .print-btn,
  .date_range,
  .searchbar {
    display: none ;
  }

  table.transaction_table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    display: table-header-group; /* repeats header on every page */
  }

  tr {
    page-break-inside: avoid;
  }

  th, td {
    border: 1px solid #000;
    padding: 6px;
    font-size: 11px;
    text-align: left;
  }

  .heading--2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
