<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Email Validation</title>
  <link rel="stylesheet" href="input.css">
</head>
<body>
  <form id="form" autocomplete="off">
    <label for="Email">Email :</label><br>
    <input type="text" id="email" name="Input"/><br>
    <span id="feedbackEmail"></span><br>
    <button type="submit">Submit</button>
  </form>
   <form id="form" autocomplete="off">
    <label for="idNumber">ID_number :</label><br>
    <input type="text" id="idNumber" name="Input"/><br>
    <span id="feedbackId"></span><br>
    <button type="submit">Submit</button>
  </form>
   <form id="form" autocomplete="off">
    <label for="userName">Username :</label><br>
    <input type="text" id="userName" name="Input"/><br>
    <span id="feedbackUsername"></span><br>
    <button type="submit">Submit</button>
  </form>
   <form id="form" autocomplete="off">
    <label for="Date">Date :</label><br>
    <input type="text" id="Date" name="Input"/><br>
    <span id="feedbackDate"></span><br>
    <button type="submit">Submit</button>
  </form>
  <script src="input.js"></script>
</body>
</html>
