*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--primary-font);
    padding: 2rem;
    transition: background-color 0.3s, color 0.3s
}


a{
    text-decoration: none;
}

input{
    border-radius: 3px;
    border: 1px solid #ccc !important;
    padding: 1rem !important;
}

button{
    padding: 1rem;
}

img{
    object-fit: cover;
}


.warning{
    background-color: rgb(255, 255, 141);
    color: rgb(33, 33, 2);
}

.error , .danger{
    background-color: var(--color-yellow-02);
    color: #222;
}