:root{
    --primary-color:green;
    --secondary-color:" ";
    --tertiary-color: "";
    
    
    --color-scheme: light ;
    --primary-font:"red hat display", san-serif;
    --secondary-font:"Poppins" , sans-serif;

     --color-scheme: light;
    color-scheme: light;

    ///////////
    /// hamdha variable space
  --bg-color: white;
  --text-color: black;
  --toggle-bg: lightgray;
  --slider-color: black;
}