:root{
    --primary-color:" ";
    --secondary-color:" ";
    --tertiary-color: "";
    
    
    --color-scheme: light ;
    --primary-font:"red hat display", san-serif;
    --secondary-font:"Poppins" , sans-serif;
}