:root{
    --primary-color:#083851;
    --secondary-color:#f9a550;
    --tertiary-color: #006395;
    --white:#ffffff;
    
    
    --color-scheme: light ;
    --primary-font:"red hat display", sans-serif;
    --secondary-font:"Poppins" , sans-serif;

     --color-scheme: light;
    color-scheme: light;

    ///////////
    /// hamdha variable space
  --bg-color: white;
  --text-color: black;
  --toggle-bg: lightgray;
  --slider-color: black;
}