//Medicine section
    .medicine-section{

        .section-title{
            margin-top:25rem ;
        }



        .Medicines_grid {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(4, 32rem);  /* 4 columns */
            // margin: 5rem 10rem 10rem 10rem;
            justify-content: center;
            max-width: fit-content;
            border: 1px solid #e8e8e8;
            margin: auto;
        .medicine-card{
            padding:2rem;
            background-color: white;
            width: 100%;
            height: 100%;
            border: 1px solid #e8e8e8;
            box-shadow:0px 2px 6px rgba(0,0,0,0.05);
            //height: 15rem;
            //margin: 1rem;

            .medi-img{
              
                
                object-fit: contain;
                display: flex;
                align-items: center;
                justify-content: center;
               
                img {
                    width: 15rem;
                    height: 15rem;
                    object-fit: cover;
                    }

                .img-alt {
                    //display: none;
                    font-size: 14px;
                    color: #777;
                    text-align: center;
                    //padding: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    //white-space: nowrap;
                    width: 100%;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    height: 10rem;
                    }

            }

            

            .med_infomation{
                .medicine_name{
                    > a{
                        font-weight: 500;
                        overflow: hidden;
                        text-wrap-mode: nowrap;
                        text-overflow: ellipsis ;
                        width: 100%;
                        display: inline-block;
                        //height: 4rem;
                    }

                    .name{
                        font-weight: 600;
                        color: #979696;
                    }
                }

                .medicine__info__price{
                    display: flex;
                    gap:2rem;
                    color:#1A7F89 ;
                    padding:1rem 0;
                    font-weight: 600;
                    span{
                        display:flex;
                    }
                }
                }


                    .results{

                        
                        .map-serach{
                            display: flex;
                            background-color: #E8F7FF;
                            border-radius: 3rem;
                            padding: 1rem;
                            font-size:1.6rem;
                            color: #08374F;
                            font-weight: 500;
                            //margin: 1rem;
                            max-width: fit-content;
                            justify-content: center;
                            align-items: center;

                            //gap:1rem;

                            .world_img{
                            margin-right: 1rem ;
                        }
                        }


                        &.add-to-cart{

                            
                            .map-serach:first-child{
                                display: none;
                                
                            }
                            
                            .map-serach:last-child{
                                background-color:#08374F;
                                padding: 1.5rem 2rem;
                                margin-left: auto;
                                color: white;
                                text-transform: capitalize;
                                transition: all .2s ease;
                                
                                &:hover{
                                    scale: 1.1;
                                }
                                
                                
                            }

                            // &.processing{
                            //         opacity: .1;

                            //         .map-serach:last-child{
                            //             padding: 1.5rem 2rem;
                            //             margin-left: auto;
                            //             color: white;
                            //             background-color: #333;
                            //             color : #000;
                            //         }
                            //     }

                            // &.added{
                            //     opacity: 1;
                            //     background-color: var(--color-green-01);
                            // }
                        }

                    }

                    &:hover{
                            transition: all 0.3s;
                            background-color: white;
                            border: 1px solid black;
                            cursor: pointer;
                        }
        }

         
        }

        
    }