
    .footer{
        background-color: var(--color-green-02);
        color:var(--white);
        font-family: var(--primary-font);
        padding:3rem;
        height:57.9rem;
        clip-path:polygon(0% 0%, 100% 20%, 100% 100%, 0% 100% );
        

        .main {

        padding:8rem 3rem;
        color: #cfd8dc;
        display: flex;
        justify-content: space-between;
        align-items:self-start;
        color:var(--white);
        font-size: 1.8rem;;
        }

        .logo {
        font-family: var(--secondary-font);
        display: flex;
        align-items: center;

            .logopic {
                height: 4.6rem;
                margin-right: 1rem;
                mix-blend-mode: screen;
            }

            .logoname {
                font-weight: bold;
                color: var(--white);
                font-size: 1.6rem;
            }
        }

        .site-map{
        
            li{
                list-style: none;
            }
            a{
            color:#bdc6cb;
            line-height: 5rem;
            text-decoration: none;
            color:#bdc6cb;
            font-size:1.8rem;
            font-family: var(--primary-font);
            }
        }

        .footer-title{
            color:var(--white);
            margin:5rem 0;
        }

        .footer-discription{
            p{
                color:#bdc6cb;
                margin:2rem 0;
            }
        
        }

        .bottom{
            margin: 10rem 0 2rem 0;
            
            nav{
                display:flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 2rem;
                color:#75a6cd;
                font-size: 1.4rem;
                
                >a{
                    text-decoration: none;
                    color:var(--white);
                    font-size:1.4rem;
                    font-family: var(--primary-font);

                }

            }

        }
    }

