.medicine-viewer{
    .topbar{
        margin: 6rem 6rem 1rem 6rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .mini-header{

            .medicine_name{
                color:#333;
                font-weight: 400;
                word-spacing: 1.5rem;
            }

            .tag{
                padding: 1rem 2rem;
                border-radius: 3rem;
                color:#333;
                display: inline-block;
                border: 1px dashed #eee;
                text-transform: capitalize;
                letter-spacing: 2px;
                
                
                &.available{
                    color: #fff;
                    background-color: var(--color-green-01);
                    border: none;
                }
                
                &.low_stock{
                    color: #fff;
                    background-color: var(--color-yellow-01);
                    border: none;
                }
                
                &.out_of_stock{
                    color: #fff;
                    border: none;
                    background-color: var(--color-red-01);
                }
            }

        }


        @mixin btn{
            padding: 1rem 2rem;
            border-radius: 3rem;
            text-transform: capitalize;
            cursor: pointer;
            transition: all .2s ease;

            &:hover{
                transform: scale(1.1);
            }
        }

        .actions{
            display: flex;
            gap: 1rem;
 
            .close{
                @include btn();
                color:#fff;
                background-color: #000;


            }
            
            .edit{
                @include btn();
                color:#000;
                border: 1px solid #000;
            }
        }
    }

    .content{
        display: flex;
        .left{
            flex-grow: 3;
            .details{
                border-collapse: collapse;
                margin:1rem 6rem;
                overflow-y: scroll;
                scrollbar-color: transparent;
                height: 55vh;

                &::-webkit-scrollbar{
                    opacity: 0;
                }

                &:hover{
                    &::-webkit-scrollbar{
                        opacity: 1;
                    }
                }

                tbody {

                    tr{
                        min-height: 3rem;
                        td{
                            padding: 2rem;
                            text-wrap-mode:wrap ;
                            min-height: 3rem;
                            max-width: 40%;
                        }
                    }
                }
            }
        }
        .right{
            flex-grow: 2;
            justify-content: flex-end;
            // background-color: #000;
            height: 100%;
            padding: 3rem;
            max-width: 50rem;
            border-radius: 3rem 0 0 3rem;
            // background-image: linear-gradient(120deg , transparent 50% , #ffffff34 50% , #ffffff34 60% , transparent 60% );


            .notice{
                width: 40rem;
                margin: 3rem;
                display: inline-block;
                height: 20rem;
                border-radius: 3rem;
                padding: 2rem;
                color: var(--color-yellow-01);
                border: 1px solid var(--color-yellow-01);
                font-size: 2.8rem;
                text-transform: capitalize;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &:hover{
                    background-color: #000;
                }


                button.add_to_stock{
                    padding: 1rem 2rem;
                    font-size: 2rem;
                    width: fit-content;
                    align-self: flex-end;
                    text-transform: capitalize;
                    font-family: var(--primary-font);
                    border-radius: 3rem;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background-color: #000;
                    // outline: 1px solid #fff;
                    transition: all .2s ease;
                    color:#fff;
                    background-color: var(--color-green-01);
                    &:hover{
                        color: var(--color-green-01);
                        background-color: #fff;
                        transform: scale(1.1);
                    }



                }
            }

            .price_container{
                display: flex;
                width : 100%;
                justify-content: space-between;
                padding:1rem;
                border-bottom : 1px solid #999;
                margin-bottom: 2rem;
                
                .text{
                font-size:1.8rem;
                display :flex;
                align-items:center;
                gap: 1rem;
                opacity: .6;
                text-transform: capitalize;
                color: #000;
                
                
                .label-icon{
                    transform:translatey(.3rem);
                    width: 2rem;
                    display:flex;
                    justify-content: center;
                    align-items:center;
                }
                }
                
                .price{
                font-size: 2.8rem;
                font-weight : 500;
                
                &::before{
                    content:"Rs "
                }
                
                &::after{
                    content:"";
                }
                }
                
                
            }


            .stock_details_container {
                h2 {
                    font-size: 2rem;
                    text-transform: capitalize;
                    color: var(--color-green-01);
                    font-weight: 100;
                }

                .full_stock{
                    font-size: 3.2rem;
                    text-transform: capitalize;
                }

                .stock_card {
                    width: 100%;
                    padding: 1rem;
                    border: 1px solid #eee;
                    margin: 1rem 0;
                    border-radius:  1rem;

                    .title {
                        font-size: 1.8rem;
                        text-transform: capitalize;
                    }

                    p {
                        font-size: 1.8rem;
                        color: rgba(0, 0, 0, .6);
                        margin: 2rem 0rem;

                    }


                    .content {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .bar_graph {
                            width: 70%;
                            background-color: #eee;
                            border-radius: 3rem;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            padding: .5rem;

                            .row {
                                width: 50%;
                                display: flex;
                                align-items: center;
                                padding:0 1rem;
                                height: 100%;
                                border-radius: inherit;
                                background-image: repeating-linear-gradient(120deg, transparent 5px, rgba(255, 255, 255, .1) 5px, rgba(255, 255, 255, .1) 10px, transparent 10px, transparent 15px);
                                font-size:  1.8rem;
                                font-weight: 600;
                                color: #fff;
                                &::after{
                                    content: "%";
                                }
                            }
                        }

                        .quantity {
                            font-size: 1.6rem;
                            text-align: right;
                            text-transform: capitalize;

                            .count {
                                font-size: 2.8rem;

                            }
                        }
                    }
                }

                .public_stock_container{

                    .bar_graph{
                        .row{
                            background-color: var(--color-green-01);
                        }
                    }
                }
                .private_stock_container{
                    .bar_graph{
                        .row{
                            background-color: var(--color-yellow-01);
                        }
                    }
                }
            }

        }
    }
}


.pharmacy_medicine_stock_content{
    
    .medicine_name{
        font-size: 2rem;
        font-weight: 400;
        margin: 2rem;
        
    }
    
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 80vh;

        .input_field_container{
            margin: 3rem;
            text-transform: capitalize;



            .field{
                // height: 5rem;
                margin: 1rem;
                display: flex;
                flex-direction: column;
                gap: .5rem;

                + h3{
                    margin-top: 4rem;
                }
                
                
                label , input{
                    margin-bottom: 1rem;
                    display: inline;
                    width: 100%;
                }

                input{
                    height: 5.5rem;
                    font-size: 1.8rem;

                    &:focus-visible{
                        outline: 2px solid var(--color-green-01);
                        border: none;
                        box-shadow: none;
                    }
                }
            }
        }


        
        .buttons{
            display: flex;
            width: 100%;
            gap: 1rem;
            padding: 2rem 4rem;
            justify-content: flex-end;
            
            button{
                padding: 1.5rem 2rem;
                min-width: 14rem;
                font-size: 1.8rem;
                // max-width: fit-content;
                text-transform: capitalize;
                border: 1px solid #666;
                color: #666;
                background-color: #fff;
                border-radius: 3rem;
                cursor:  pointer;
                
                
                @mixin success_Btn{
                    background-color: var(--color-green-01);
                    color:#fff;
                    border: none
                }
                
                &.btn_cancel{
                    &:hover{
                        border: 1px solid #000;
                        color: #000;
                    }
                }
                &.btn_add_to_stock{
                    @include success_Btn();
                    
                }
                &.btn_save{
                    @include success_Btn();
                    
                }
                
            }
        }

        .delete{
            border-top: 1px solid #eee;
            font-size: 1.8rem;
            text-transform: capitalize;
            padding: 3rem ;

            h2{
                font-size : 2.8rem;
                margin-bottom : 0rem;
                color: var(--color-red-01)

            }

            p{
                color: #888;

            }
            
            button{
                margin-top: 1rem;
                padding : 1rem 2rem;
                text-transform:inherit;
                font-size: inherit;
                background-color:var(--color-red-01);
                color: white;
                border-radius:3rem;
                outline:none;
                border:none;
                cursor: pointer;
            }
        }
    }
}