.overlay-cart{
    position: fixed;
    background-color: rgba(0,0,0,.25);
    inset: 0 0 0 0;
    backdrop-filter: blur(3px);
    display: flex;
    overflow: scroll;
    opacity: 0;
    z-index: -1000;
    transition: all .3s ease;
    perspective: 1000px;
    height: 100vh;
    
    &.open{
        opacity: 1;
        z-index: 1000;

    }

    [class*="-side"]{
        background-color: #fff;
        margin: 1rem;
        height: 98%;
        border-radius: 2rem;
        transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
        

         &.open{
            transform: translateX(0%);
        }

        
        
    }
    
    .left-side{
        width: 60%;
        transform: translate(-150%);
    }
    
    .right-side{
        width: 40%;
        transform: translateX(150%);
        min-height: fit-content;

    }

    .popup{
        position: fixed;
        z-index: 100;
        right: 20%;
        top: 20%;
        // transform: ;
        transform: translateY(400%) rotateY(180deg);
        transition: all .8s ease;
        
        min-width: fit-content;
        min-height: fit-content;
        width: fit-content;
        height: fit-content;
        background-color: #fff;
        border-radius: 2rem;
        box-shadow: 0px 12px 12px rgba(0,0,0,.25);
        border: 1px solid #eee;
        
        &.open{
            transition: all .8s cubic-bezier(0.075, 0.82, 0.165, 1);
            transform: translateY(0) rotateY(0);
            opacity: 1;
        }
    }
}





.card-prescription-upload{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "topic"
               "desc"
               "upload"
               "skip";
    width: 20rem;
    height: 30rem;
    margin: 3rem 2rem;


    h4{
        grid-area: topic;
        width: 100%;
        text-wrap-mode: wrap;
        text-align: center;
        font-weight: 400;
        text-transform: capitalize;
        color: var(--color-green-01);
        font-size: 2.4rem;

    }

    p{
        grid-area: desc;
        width: 100%;
        text-wrap-mode: wrap;
        text-align: center;
        opacity: .8;
    }
    input{
        display: none;
    }
    
    label{
        grid-area: upload;
        width: fit-content;
        padding: 1rem 3rem;
        background-color: var(--color-green-01);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border-radius: 3rem;
        cursor: pointer;
        transition: all .2s ease;

        &:hover{
            outline: 1px solid var(--color-green-01);
            outline-offset: 2px;
        }
    }


    button{
        grid-area: skip;
        border: none;
        width: fit-content;
        height: fit-content;
        background-color: transparent;
        color: #aaa;
        font-size: 1.8rem;
        margin: 1rem auto 0 auto;
        text-transform: capitalize;
        font-weight: 400;
        cursor: pointer;
        transition: all .3s ease;

        &:hover{
            background-color: #eee;
            border-radius: 3rem;
            color: #000;
        }
    }
}