// .spinner{
//     position: fixed;
//     top: 0;
//     left: 0;
//     padding: 0;
//     width: 100vw;
//     height: 100vh;
//     background-color: #ffffff80;
//     background-image: linear-gradient(to bottom , #ffffff2a  50%, var(--color-green-01) ) ;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     background-size: 200%;
//     font-size: 2.4rem;
//     font-weight: 400;
//     font-family: var(--primary-font) , sans-serif;
//     color: #666;
//     text-transform: capitalize;

    
    
//     &::before{
//         width: 4rem;
//         height: 4rem;
//         content: "";
//         margin-bottom: 2rem ;
//         // top: 50%;
//         // left: 50%;
//         display: inline-block;
//         background-color: var(--color-yellow-01);
//         animation:  animate 3s ease infinite;
//     }
// }


// @keyframes animate {
//     50%{
//         transform: rotate(360deg);
//     }
// }



// .spinner{
//     mix-blend-mode: color-dodge;
//     width: 3rem;
//     object-fit: contain;
//     animation: loading 1s linear infinite;
//     margin-left: 1rem;
//     display: none;

//     &.visible{
//         display: inline-block;
//     }

// }

@keyframes loading{
    100%{
        transform: rotate(360deg);
    }
}



.spinner{
    animation: loading 1s linear infinite;
    scale: .1;
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1000;
    transform: translate(-50% , -50%);
  width: 35px;
  aspect-ratio: 1;
  --_g1: no-repeat radial-gradient(farthest-side,var(--color-green-01) 94%,#0000);
  --_g2: no-repeat radial-gradient(farthest-side,var(--color-red-01) 94%,#0000);
  --_g3: no-repeat radial-gradient(farthest-side,var(--color-blue-02) 94%,#0000);
  --_g4: no-repeat radial-gradient(farthest-side,var(--color-yellow-01) 94%,#0000);
  background:
    var(--_g1) 0    0,
    var(--_g2) 100% 0,
    var(--_g3) 100% 100%,
    var(--_g4) 0    100%;
  background-size: 40% 40%;
  animation: l38 .5s infinite; 
}
@keyframes l38 {
  100% {background-position: 100% 0,100% 100%,0 100%,0 0}
}