<div class="products container product_container">
    <div class="left-side">

        <div class="btn btn-add-new">
            <span>
                <span>add new</span>
                <span>ctrl+n</span>
            </span>
            <span>+</span>
        </div>


        <div class="quick-looks">
            <div class="title-section">
                <div class="small-title">Track in One Place</div>
                <div class="title">Manage Over <span class="amount-of-products"> </span>&nbsp;Products</div>
            </div>
                <div class="tab available">
                    <span>Available</span>
                    <span class="line green-line"></span>
                    <span class="amount-of-available">3,456</span>
                </div>
                <div class="tab low-stock">
                    <span>Low Stock</span>
                    <span class="line yellow-line"></span>
                    <span class="amount-of-low-stock">1,234</span>
                </div>
                <div class="tab out-of-stock">
                    <span>Out of Stock</span>
                    <span class="line red-line"></span>
                    <span class="amount-of-out-of-stock">54</span>
                </div>
        </div>

        <!-- <div class="analitics-section">
            <div class="small-title">Analyse Stock</div>
            <div class="title">Look Products Graph View</div>

            <div class="graph-section">
                <div class="graph graph1"></div>
                <div class="graph graph2"></div>
                <div class="graph graph3"></div>
            </div>
        </div>

        <div class="summery">
            <div class="small-title">Summery and Documents </div>
            <div class="title">Documents & Reports</div>
            <div class="title2">
                <span>Product Stock Report</span>
                <span class="download-btn">Download</span>
            </div>
        </div>

        <div class="pagination">
            <div class="page active">1</div>
            <div class="page">2</div>
            <div class="page">3</div>
            <div class="page">4</div>
            <div class="page">5</div>
            <div class="page next">→</div>
        </div> -->

                        

    </div>

    <div class="right-side">

        <div class="top_bar">
            
            <div class="search_bar">
                <div class="search-bar">
                <input type="text" name="search-bar" class="search-bar__input" id="search-bar">
                <label for="search-bar" class="search-bar__label">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                        <!-- Font Awesome Free 7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                        <path d="M480 272C480 317.9 465.1 360.3 440 394.7L566.6 521.4C579.1 533.9 579.1 554.2 566.6 566.7C554.1 579.2 533.8 579.2 521.3 566.7L394.7 440C360.3 465.1 317.9 480 272 480C157.1 480 64 386.9 64 272C64 157.1 157.1 64 272 64C386.9 64 480 157.1 480 272zM272 416C351.5 416 416 351.5 416 272C416 192.5 351.5 128 272 128C192.5 128 128 192.5 128 272C128 351.5 192.5 416 272 416z"/>
                    </svg>    
                </label>
                
                </div>
            </div>
            <!-- <div class="view-toggle">
                <div class="toggle-btn list-active">
                    <img src="/images/list-active.svg" width="50rem">
                </div>
                <div class="toggle-btn grid">
                    <img src="/images/grid-active.svg" width="20rem">
                </div>
            </div> -->

            
        </div>

        <div class="product-list">
        </div>

    </div>


</div>
