<div class="transactions container">
    <div class="income">
        <p>
            <img src="/transactions/beat.svg" alt="O">
            your income
        </p>
        <div class="income__value">12,343</div>
        <div class="range">today</div>
    </div>
    <div class="income_stat">
        <div class="bars">
            <div class="bar bar-cash__offline">
                <span class="percentage">50%</span>
            </div>
            <div class="bar bar-cash__online">
                <span class="percentage">50%</span>
            </div>
            <div class="bar bar-card__offline">
                <span class="percentage">50%</span>
            </div>
            <div class="bar bar-card__online">
              <span class="percentage">50%</span>  
            </div>
        </div>
        <div class="descriptions">
            <div class="stat stat-cash">
                <div class="topic">cash</div>
                <div class="results">
                    <div class="offline">
                        <img src="/transactions/offline-cash.svg" alt="">
                        
                       <span>
                           12,345
                       </span> 
                    </div>
                    <div class="online">
                        <img src="/transactions/online-cash.svg" alt="">
                        <span>
                            12,543
                        </span>
                    </div>
                </div>
            </div>
            <div class="stat stat-card">
                <div class="topic">card</div>
                <div class="results">
                    <div class="offline">
                        <img src="/transactions/offline-card.svg" alt="">
                        <span>
                            8,892
                        </span>
                    </div>
                    <div class="online">
                        <img src="/transactions/online-card.svg" alt="">
                        <span>
                            34,221
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="searchbar">
        <input type="search">
    </div>

        <div class="summery_staff_wise summery_block">
            <div class="group-by">
                <img src="/transactions/user.svg" alt="">
                Group by staff Members
            </div>

            <div class="analytics">
                <div style="color: #888; text-transform: capitalize;"> ops.. looks like no data or you're not authorized </div>
            </div>


        </div>
        <!-- <div class="summery_payment_method_wise summery_block">
            <div class="group-by">
                <img src="/transactions/method.svg" alt="">
                
                Group by Payment Methods
            </div>

            <div class="analytics">
                <div class="description">
                    <div class="name">Chathura</div>
                    <div class="orders">( 127 Orders )</div>
                    <div class="amount">3,321</div>
                </div>
                <div class="bar"></div>
            </div>
            <div class="analytics description">
                <div class="description">
                    <div class="name">Chathura</div>
                    <div class="orders">( 127 Orders )</div>
                    <div class="amount">3,321</div>
                </div>
                <div class="bar"></div>
            </div>
            <div class="analytics">
                <div class="description">
                    <div class="name">Chathura</div>
                    <div class="orders">( 127 Orders )</div>
                    <div class="amount">3,321</div>
                </div>
                <div class="bar"></div>
            </div>


        </div> -->
        <div class="">
            
        </div>

    <div class="transaction_table_container">
        <div class="captions">
            <h2 class="heading--2">latest transactions</h2>

            
            
            <div class="date_range">
                <form action="" class="dateForm">
                    <div class="label" for="date_start">date range</div>
                    <input type="date" name="date_start" id="date_start">
                    
                    <div class="label">-</div>
                    <input type="date" name="date_end" id="date_end">
                </form>
                <button class="print-btn">Print</button>
            </div>
        </div>

        <div class="transaction_table_wrapper">
        <table class="transaction_table">
            <thead>
                <tr>

                    <th>order id</th>
                    <th>by</th>
                    <th>date</th>
                    <th>time</th>
                    <th>method</th>
                    <th>type</th>
                    <th>amount</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        </div>



    </div>


</div>