<div class="docs container">
    <h1>Docs and Reports</h1>

    <!-- docs     -->
     <div class="reports_container">

         <!-- <div class="medicines reports">
             <h2 class="h2">medicines reports</h2>

                <div class="report">
                    <button class="download">generate</button>
                    <span class="report__name">medicine stock report</span>
                </div>
                <div class="report">
                    <button class="download">generate</button>
                    <span class="report__name">medicine stock report</span>
                </div>
                <div class="report">
                    <button class="download">generate</button>
                    <span class="report__name">medicine stock report</span>
                </div>
            </div>
            
        </div> -->




</div>
</div>