.hypertension{
    $text-muted: #9ca3af;
    $element-bg: #F7F7F7;
    $primary: #08374F;
    $accent: #FB8F21;
    $danger-red: #ff4444;
    $accent-green: #00a676;
    $border-radius: 1rem;

    .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  .logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: 600;
    font-size: 3rem;

    img {
      width: 4rem;
      height: 4rem;
    }

    span{
        color: $primary;
        font-size: 2rem;
    }
  }

  .nav-buttons {
    display: flex;
    align-items: center;
    gap: 10px;

    .btn {
      padding: 8px 16px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-weight: 500;
      font-size: 1.5rem;

      &.btn-filled {
        background-color: $element-bg;
        color: $primary;
        border: 0.2rem solid $primary;
      }

      &.btn-icon {
        background: $element-bg;
        color: $primary;
        display: flex;
        align-items: center;
        gap: 6px;
        border: 0.2rem solid $primary;
      }

      
    &:hover{
        background: $accent;
      }
    }
  }
}


    .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  .logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: 600;
    font-size: 3rem;

    img {
      width: 4rem;
      height: 4rem;
    }

    span{
        color: $primary;
        font-size: 2rem;
    }
  }

  .nav-buttons {
    display: flex;
    align-items: center;
    gap: 10px;

    .btn {
      padding: 8px 16px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-weight: 500;
      font-size: 1.5rem;

      &.btn-filled {
        background-color: $element-bg;
        color: $primary;
        border: 0.2rem solid $primary;
      }

      &.btn-icon {
        background: $element-bg;
        color: $primary;
        display: flex;
        align-items: center;
        gap: 6px;
        border: 0.2rem solid $primary;
      }

      
    &:hover{
        background: $accent;
      }
    }
  }
}

.blog-container {
  max-width: 100%;
  width: 100%;
  padding: 2rem 30rem 2rem 30rem;
}

.blog-post {
  background: $element-bg;
  padding: 2rem;
  border-radius: $border-radius;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  .category {
    display: inline-block;
    background: azure;
    color: $accent-green;
    padding: 0.25rem 0.75rem;
    border-radius: $border-radius;
    font-size: 0.9rem;
    font-weight: 600;
    border: 0.2rem solid $accent-green;
  }

  h1 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 800;
    margin: 0.8rem 0 0.5rem;
    color: #111;
  }

  .meta {
    color: #666;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  h2 {
    color: #111;
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }

  p, ul, ol {
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  ul, ol {
    padding-left: 1.5rem;
  }

  ol li {
    margin-bottom: 0.5rem;
  }

  .intro {
    font-weight: 500;
  }

  .back-btn {
    margin-top: 2rem;
    text-align: left;

    a {
      display: inline-block;
      text-decoration: none;
      background: $primary;
      padding: 0.6rem 1.2rem;
      border-radius: $border-radius;
      color: white;
      font-weight: 600;
      transition: all 0.2s ease;

      &:hover {
        background: $accent;
        color: white;
      }
    }
  }
}
}