.contact-us{


    
    .container{
        flex-direction: column;
        align-items: center;
        display: flex;
        width: 100%;
        margin-top: 5rem;


        h1{
            background-image: linear-gradient(to bottom right , var(--color-green-01) , var(--color-green-02));
            color: transparent;
            background-clip: text;
        }
        
        form{
            max-width: 60rem;
            flex-grow: 1;
            width: 100%;
            
            div{
                margin: 1.5rem 0;
                label{
                    color: var(--color-green-02);
                    font-weight: 500;
                    margin-bottom: 2rem;
                }
                input,textarea{
                    font-size: 1.8rem;
                    margin-top:0.6rem;
                    width: 100%;
                    padding: 1rem;
                    border-radius: 3px;
                    border: 1px solid #ccc;
                    color: #444;
                    font-weight: 400;
                    font-family: inherit;
                    min-width: max-content;

                    &::first-letter{
                        text-transform: capitalize;
                    }
                    
                    &:focus{
                        outline: 2px solid var(--color-green-01);
                        border-radius: 3px;
                        border:none;
                    }
                }

                textarea{
                    height: 15rem;
                    min-width: max-content;
                }
            }
            
            button{
                width: 100%;
                background-color: var(--color-green-01);
                border: none;
                outline: none;
                padding: 1.5rem 2rem;
                font-size: large;
                color: white;
                border-radius: 3px;
                background-image: linear-gradient( to right , var(--color-green-01) , var(--color-green-02));
                font-family: inherit;

            }
        }
    }
}