.customer_medicine_pharmacy_resutls_view {
    .header-main.header {
        margin: 3rem auto;
        width: 95%;
        height: 30rem;
        background-color: #007e8a;
        background: linear-gradient(300deg, var(--color-blue-01), var(--color-green-01), var(--color-blue-02));
        background-size: 180% 180%;
        display: flex;
        flex-direction: column;
        animation: gradient-animation 18s ease infinite;
        position: relative;
        overflow: hidden;

        .header-image {
            position: absolute;
            height: 30rem;
            transform: rotateY(180deg);
            mix-blend-mode: luminosity;
            right: 0;

            &:nth-child(2) {
                left: 0;
                transform: scale(.5);
            }
        }

        .header-video {
            position: absolute;
            width: 30rem;
            mix-blend-mode: multiply;
            opacity: .6;
            filter: blur(9px);

        }

        .header-content {
            width: 50%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: #fff;

            .header-text {
                margin-bottom: 2rem;

                h1 {
                    font-size: 4.8rem;
                }

                p {
                    letter-spacing: 2px;
                    font-size: 1.8rem;
                    font-weight: 100;
                }


                h1,
                p {
                    color: #fff;
                }
            }

            .search-section {
                .search-box-container {
                    background-color: #fff;
                    width: 60rem;
                    display: flex;
                    justify-content: space-between;
                    border-radius: 3rem;
                    padding: .2rem;
                    // box-shadow: 0 2px 12px rgba(0,0,0,.25);

                    .search-input {
                        flex-grow: 1;
                        border: none;
                        font-size: 1.8rem;
                        background-color: transparent;
                        padding: 0 2rem;
                        border-radius: 3rem;

                        &::placeholder {
                            font-size: 2rem;
                            font-weight: 300;
                            opacity: .6;
                            // font-style: italic;
                            color: var(--color-green-02);
                        }

                        &:focus-visible {
                            border: none;
                            outline: none;
                        }
                    }

                    .search-btn {
                        border-radius: 3rem;
                        padding: 1.5rem 2rem;
                        background-color: var(--color-green-01);
                        color: #fff;
                        font-size: 2rem;
                        display: inline-block;
                        border: none;
                    }
                }
            }
        }

    }


    .section-pharmacies{

        .grid{
            gap: 2rem;
        }
         .pharmacy{
            height: 40rem;
            width: 20%;

                &__name{
                    font-size: 2rem;
                }

                .status{
                    font-size: 1.4rem;
                }

                &__address , &__tel{
                    font-size: 1.6rem;
                }

                 &__distance {
                    font-size: 1.4rem;
                 }

                

                &__image{
                    height: 15rem;
                }
            
                &__stock{
                    display: none;
                }
            }
    }

    section {
        margin: 3rem;
        margin-top: 6rem;
        margin-bottom: 10rem;

        h2 {
            text-align: center;
            font-size: 3.2rem;
            margin-bottom: 1rem;
            color: var(--color-green-01)
        }

        p{
            text-align: center;
            margin: 0 auto;
            width: 60%;
            margin-bottom: 3rem;
        }

        .grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }
    }

}


@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}