<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>QR Payment</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="cashier-payment-qr">
  <!-- ---------------- Header ---------------- -->
  <header>
    <nav>
      <div class="logo">
        <img class="logopic" src="/public/logo/logo.svg" alt="Pharmacy Logo" />
      </div>

      <div id="toggle-placeholder"></div>

      <nav class="nav-links">
        <button class="tab">Store</button>
        <button class="tab">Dashboard</button>
        <button class="tab active">Cashier</button>
      </nav>

      <div class="profile">
        <div class="profileName">
          <a href="#">Chamani Niroshani</a>
          <div class="welcome">Welcome</div>
        </div>
        <div class="profilePic">
          <a href="/signup.html">
            <img src="/public/logo/profile_pic.jpg" alt="Profile Picture" />
          </a>
        </div>
      </div>
    </nav>
  </header>

  <!-- ---------------- Dashboard Layout ---------------- -->
  <div class="dashboard">

    

  <!-- Payment Popup -->
<div class="payment-popup" id="paymentPopup">
  <div class="popup-content">
    <span class="close-btn" id="closePopup">&times;</span>
    <h2>Mobile Payment(QR)</h2>
    <h3>Merchant Name</h3>
    <p>Global Pharmacy Pvt Ltd</p>
    <h3>Total Amount</h3>
    <p>Rs 3000</p>
    <h3>Reference Number</h3>
    <p>REF202510190845</p>

    <div class="payment-action">
      <button type="button" id="paid" > Paid</button>
      <button type="button" id="faild"> Failed</button>
      <button type="reset" id="reset">Cancel</button>
      
    </div>

  </div>
</div>


  </div>
</div>


</body>
</html>
