  <aside class="sidebar">
      <div class="menu-section">
        <h4 class="section-title">MAIN MENU</h4>
        <ul>
          <li class="active"><i class="icon"></i><a href="/pharmacies/1/cashiers/1" >Dashboard</a></li>
          <li ><i class="icon"></i><a href="/pharmacies/1/cashiers/1" >Products</a></li>
        </ul>
      </div>

      <div class="menu-section">
        <h4 class="section-title">LEADS</h4>
        <ul>
          <li ><i class="icon"></i><a href="/pharmacies/1/cashiers/1/bills" >Orders</a></li>
          <li ><i class="icon"></i><a href="/pharmacies/1/cashiers/1/sales" >Sales</a></li>
          <li ><i class="icon"></i><a href="/pharmacies/1/cashiers/1/customers" >Customers</a></li>
        </ul>
      </div>

      <div class="menu-section">
        <h4 class="section-title">COMMS</h4>
        <ul>
          <li><i class="icon"></i><a href="/pharmacies/1/cashiers/1/reports" >Reports</a></li>
          <li><i class="icon"></i><a href="/pharmacies/1/cashiers/1/settings" >Settings</a></li>
        </ul>
      </div>
    </aside>
