#Form{
    font-family: 'Red Hat', sans-serif;
    font-weight: 600;
    font-style: semibold;
    width: 100%;
    line-height: 2rem;
    
}

#Input {
  border: 2px solid #787676;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: 'Red Hat', sans-serif;
  font-size: 1em;
  outline: none;
  width: fit-content;
}

#Input.valid {
  border-color: #28a745;
}

#Input.invalid {
  border-color: #dc3545;
}

#feedback {
  margin-left: 0.5rem;
  display: block;
  font-size: 0.95em;
}

#feedback.error {
  color: #dc3545;
}

#feedback.success {
  color: #28a745;
  position: absolute;
  left: 0rem;
  padding-left: 0%;
}
