.AddMedi{

.container {
    display: flex;
    gap: 2rem;
    font-family: var(--primary-font);

    .medicine-details,
    .medicine-inventory {
        background: #fff;
        padding: 2rem;
        margin:2rem;
        border-radius: 1rem;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    .medicine-details {
        h2{margin-bottom: 1rem;}
        flex: 1;
        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            label {
                font-weight: 500;
                font-size: 1.4rem;
                margin-bottom: 1rem;
            }

            input, select, textarea {
                width: 100%;
                padding: 0.5rem;
                border: 0.1rem solid #ccc;
                border-radius: 1rem;
                outline: none;
                color:#707070;
                

                &:hover{
                    border-color: blue ;
                }
            }

            textarea {
                resize: vertical;
                min-height: 80px;
            }

            .row {
                display: flex;
                gap: 1rem;

                .col {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                }
            }

            .col {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    border-bottom: 1rem;
                }
        

            button {
                background: orange;
                color: #fff;
                border: none;
                padding: 0.75rem;
                border-radius: 1rem;
                cursor: pointer;
                font-size: 1.8rem;

                &:hover {
                    background: #707070;
                }
            }
        }
    }

    .medicine-inventory {
        flex: 2;

        .inventory-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
            font-weight: 500;

            .searchBar {
                //flex: 1;
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 1rem;
            }
            select {
                padding: 0.5rem;
                border-radius: 1rem;
                border: 1px solid #ccc;
            
            }
        }

        .inventory-body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            min-height: 300px;
            text-align: center;
            color: white;

            
        }
    }
}
}