body.full_screen{

    nav{
    }

    .dashboards{
        padding: 0;
        min-height: 100vh;



        .container{
            border-radius: 1rem;
            box-shadow: none;
        }
    }


}