<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Contact Us || Pharmanet </title>
    <script src="https://kit.fontawesome.com/7e64af2f82.js" crossorigin="anonymous"></script>
        <link rel="icon" href="/logo/favicon.svg" type="image/svg+xml">
    <link rel="alternate icon" href="/logo/favicon.png" type="image/png">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body class="details">
     <header>
    <nav>
        <div class="logo">
            <img class="logopic" src="/public/logo/logo.svg" alt="logo">
            <p class="logoname">PharmaNet</p>
        </div>


        <div class="search">
            <form action="POST">
                <input type="search" placeholder="Search anything...">
                <input type="submit" value="Find">
            </form>
        </div>
        <div class="dropdown">
            <a href="#">Services</a>
                <ul class="navbar">
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                </ul>
        </div>

        <div id="toggle-placeholder"></div>


        <!-- <div class="auth-btns">
            <a href="/login.html" class="login">login</a>
            <a href="/signup.html" class="signup">signup</a>
        </div> -->
        
    <div class="profile">
            <div class="profileName">
                <a href="">Chamani Niroshani</a>
                <div class="welcome">Welcome</div>
            </div>
            
            <div class="profilePic"><a href="/signup.html"><img src="/public/logo/profile_pic.jpg"></a>
            </div>
    </div>


    </nav>
        

    </header>

    <div class="details__container">
        <div class="content">
            <div class="profile">
                <div class="profile__photo__container">
                    <img src="/public/users/1.jpg" alt="" class="profile__photo">
                    <div class="gender"><i class="fa fa-mars" aria-hidden="true"></i>
                    </div>
                </div>
    
                <div class="profile__details">
                    <div class="role">Pharmacist</div>
                    <div class="name">kashika malshani</div>
                    <div class="full_name">patabadige keshika malshani</div>
                    <div class="nic">
                        97854567886543456V</div>
                    <div>
                        <div class="mobile_numbers">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            076 2030 123/ 098 765 4321</div>
                        <div class="email">
                            <!-- <i class="fa fa-envelope-o" aria-hidden="true"></i> -->
                            keshika.malshani.info@gmail.com</div>
                    </div>
                    <div class="address">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        C/60 , Nilmalgoda , Melwaththa , Kegalle</div>
    
                </div>

                
            </div>
            <a href="#" class="edit">
                <i class="fa fa-cog" aria-hidden="true"></i>

            </a>
        </div>


        <div class="banking_info">
            <h2>
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                banking info
            </h2>
            <table>

                <tbody>
                    <tr>
                        <td>bank</td>
                        <td>-</td>
                        <td>People's bank</td>
                    </tr>
                    <tr>
                        <td>account number</td>
                        <td>-</td>
                        <td>1232-2322-3002-001</td>
                    </tr>
                    <tr>
                        <td>branch</td>
                        <td>-</td>
                        <td>kegalle</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="time_and_attendence">
            <h2>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                time & attendance
            </h2>

            <div class="period">
                <span>period</span>
                <input type="date" name="" placeholder="2025-01-01" id="">
                <span>to</span>
                <input type="date" name="" placeholder="2025-01-31" id="">
            </div>

            <div class="dates-container">
                <div class="date">1</div>
                <div class="date">2</div>
                <div class="date">3</div>
                <div class="date">4</div>
                <div class="date">5</div>
                <div class="date">6</div>
                <div class="date">7</div>
                <div class="date">8</div>
                <div class="date">9</div>
                <div class="date">10</div>
                <div class="date">11</div>
                <div class="date">12</div>
                <div class="date">13</div>
                <div class="date">14</div>
                <div class="date">15</div>
                <div class="date">16</div>
                <div class="date">17</div>
                <div class="date">18</div>
                <div class="date">19</div>
                <div class="date">20</div>
                <div class="date">21</div>
                <div class="date">22</div>
                <div class="date">23</div>
                <div class="date">24</div>
                <div class="date">25</div>
                <div class="date">26</div>
                <div class="date">27</div>
                <div class="date">28</div>
                <div class="date">29</div>
                <div class="date">30</div>
                <div class="date">31</div>
            </div>
            
        </div>

    </div>
</body>
</html>