<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Member Registration</title>
  <link rel="stylesheet" href="/css/style.css"/>
      <link rel="icon" href="/logo/favicon.svg" type="image/svg+xml">
    <link rel="alternate icon" href="/logo/favicon.png" type="image/png">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body class="PharmacyMemberIntro">

    <!--header section-->
  <header class="top-bar">
    <nav>
        <div class="logo">
            <img class="logopic" src="/public/logo/logo.svg" alt="logo">
            <p class="logoname">PharmaNet</p>
        </div>
        <ul class="nav-links">
            <li><a href="/pharmacy/landingPage.html">Store</a></li>
            <li><a href="/pharmacy/pharmacy-member-intro.html" class="active">Staff</a></li>
            <li><a href="#">Cashier</a></li>
        </ul>

        <div id="toggle-placeholder"></div>

    </nav>
  </header>

  <div class="container">
    <div class="container1">
   <div class="sideBar">

    <ul class="menu">
      <a href="/pharmacy/pharmacy-member-intro.html" class="members active">Members</a>
      <a href="/pharmacy/requests.html" class="requests">Requests</a>
      
    </ul>
  </div>
  </div>


<div class="container2">
  <section class="all-staff">
    <div class="menu"></div>
    <div class="members">
      <h2>All Staff Members</h2>
      <p>Keep track of your staff, add new members, and ensure all important details are in one place. A well-organized team is a thriving team!</p>

      <div class="members-container">
        <div>
          <div class="member">
            <div>
              <img src="/public/users/1.jpg" alt="user">
              <div>
                <div class="member_name">chathura priyashan</div>
                <div class="role">cashier</div>
              </div>
            </div>


              <div class="check-in">
                <button>check-in</button>
                <time datetime="5.00 a.m">5.00 A.M</time>
              </div>

        </div>
        
        </div>
      </div>

    </div>
    <div class="reminders">
      <div class="create-member">
        <img src="/public/placeholders/Pharmacy/StaffMembers/Profile-Pharmasist.jpg" alt="">
          <popup-open for="new-staff-member-window" class="add-new-staff">    
            new staff member +
          </popup-open>
      </div>
    </div>
    </div>
  </section>


  <section class="container">
 
    

  </section>
 <script type="module" src="/js/controller/controller.js"></script>

</body>
</html>