{header}
<body class="manageBill">
<header>
    {navbar}
    </header>

    <section class="hero">
        <h1>We Provide well suited pharmacy system</h1>
    </section>

    <section class="main-content">
        <div class="side-box">
        <h3>Join with our system</h3>
        <p>Connect with our powerful pharmacy system easily for your management works.</p>
        <a href="{checkout}" class="start-btn">Start Now - Free</a>
        <ul>
        <li>No hidden fees</li>
        <li>Affordable monthly plans</li>
        <li>Mobile app handling</li>
        <li>Auto billing & invoicing</li>
        </ul>
    </div>


<div class="billing-card">
    <img src="/images/billings.jpg">

</div>
</section>


    {footer}
</body>
</html>