div[data-role="slide-container"]{
    position: relative;
    --active-slide : 1;
    max-width: 114rem;
    min-width: max-content;


    div[data-role="slide-set"]{
        position: relative;
        display: flex;
        width: 100%;

        div[data-role="slide"]{
            width: 100%;
            flex-shrink: 0;
            transform: translateX(calc( -100% * (var(--active-slide) - 1)));
            transition: all .8s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        
    }
}