@font-face{
    font-family: "red hat display";
    font-weight: 100;
    font-style: normal;
    src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-Light.ttf) format("TrueType");
}


@font-face{
    font-family: "red hat display";
    font-weight: 100;
    font-style: italic;
    src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-LightItalic.ttf) format("TrueType");
}


@font-face{
    font-family: "red hat display";
    font-weight: 200;
    font-style: normal;
    src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-Light.ttf) format("TrueType");
}


@font-face{
    font-family: "red hat display";
    font-weight: 200;
    font-style: italic;
    src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-LightItalic.ttf) format("TrueType");
}

@font-face{
    font-family: "red hat display";
    font-weight: 300;
    font-style: normal;
    src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-Medium.ttf) format("TrueType");
}
@font-face{
    font-family: "red hat display";
    font-weight: 300;
    font-style: italic;
    src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-MediumItalic.ttf) format("TrueType");
}

@font-face{
    font-family: "red hat display";
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-Regular.ttf) format("TrueType");
}

@font-face{
    font-family: "red hat display";
    font-weight: 500;
    font-style: normal;
    src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-SemiBold.ttf) format("TrueType");
}

@font-face{
    font-family: "red hat display";
    font-weight: 500;
    font-style: italic;
    src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-SemiBoldItalic.ttf) format("TrueType");
}

@font-face{
    font-family: "red hat display";
    font-weight: 600;
    font-style: normal;
    src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-Bold.ttf) format("TrueType");
}

@font-face{
    font-family: "red hat display";
    font-weight: 600;
    font-style: normal;
    src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-Bold.ttf) format("TrueType");
}

@font-face{
    font-family: "red hat display";
    font-weight: 700;
    font-style: normal;
    src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-ExtraBold.ttf) format("TrueType");
}

@font-face{
    font-family: "red hat display";
    font-weight: 700;
    font-style: italic;
    src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-ExtraBoldItalic.ttf) format("TrueType");
}

@font-face{
    font-family: "red hat display";
    font-weight: 700;
    font-style: normal;
    src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-ExtraBold.ttf) format("TrueType");
}

@font-face{
    font-family: "red hat display";
    font-weight: 700;
    font-style: italic;
    src: url(/fonts/Red_Hat_Display/static/RedHatDisplay-ExtraBoldItalic.ttf) format("TrueType");
}
